@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* ---------- navigation ---------- */
.navigation-bar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease 0.3s;
    z-index: 11;
}

.navigation-bar-scroll {
    padding: 5px 15px;
    background-color: rgba(39, 39, 39, 0.7);
}

.navigation-bar .navigation-logo {
    width: 175px;
    transition: all ease 0.3s;
}

.navigation-bar .navigation-logo-scroll {
    width: 73px;
}

.navigation-bar .nav-toggler {
    padding: 10px 8px;
    display: none;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all ease 0.3s;
}

    .navigation-bar .nav-toggler:hover {
        border-color: rgb(40, 40, 40);
        background-color: rgb(40, 40, 40);
    }

.navigation-bar .close-windows {
    display: none;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation-bar .navigation-menu {
    align-items: center;
    display: flex;
    transition: all ease 0.3s;
}

    .navigation-bar .navigation-menu a {
        margin-left: 10px;
        padding: 7px 20px 7px 20px;
        color: white;
        border: 0.5px solid rgba(255, 255, 255, 0);
        opacity: 1;
        border-radius: 25px;
        transition: all ease 0.3s;
    }

        .navigation-bar .navigation-menu a:hover,
        .navigation-bar .navigation-menu a.select,
        .navigation-bar .navigation-menu a:focus {
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            border-radius: 25px;
        }

        .navigation-bar .navigation-menu a.select {
            pointer-events: none;
        }

        .navigation-bar .navigation-menu a.active {
            border-color: rgba(255, 255, 255, 0.5);
            transition: all ease 0.3s;
        }

            .navigation-bar .navigation-menu a.active:hover,
            .navigation-bar .navigation-menu a.active:focus {
                color: #29626d;
                background-color: white;
            }

        .navigation-bar .navigation-menu a.active-scroll {
            background-color: #29626d;
        }

    .navigation-bar .navigation-menu .navigation-menu-link {
        display: flex;
    }

    .navigation-bar .navigation-menu .navigation-menu-buttons {
        display: flex;
        margin-left: 10px;
    }

.navigation-notification-icon {
    padding: 9px 20px;
    border-left: 1px solid #ffffffcc;
    border-right: 1px solid #ffffffcc;
    position: relative;
}

.notification-count {
    position: absolute;
    top: 6px;
    right: 16px;
    background-color: red;
    border-radius: 100%;
    min-width: 16px;
    aspect-ratio: 1;
    font-size: 10px;
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-drop-down > li > .dropdown-item {
    cursor: pointer;
    background: var(--clr-white) !important;
    color: var(--clr-64-grey) !important;
    padding: 7px 16px !important;
    border: none !important;
    border-radius: 0px !important;
    margin: 0 !important;
    transition: all ease 0.3s;
}

    .user-drop-down > li > .dropdown-item:hover {
        background: rgb(0 0 0 / 0.1) !important;
    }

.user-drop-down::before {
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    top: -14px;
    right: 24px;
}

.user-drop-down ::after {
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}

.username-side-menu {
    padding-inline: 20px;
}

.user-drop-down {
    min-width: 200px;
    color: var(--clr-64-grey);
    position: absolute;
    top: 20px !important;
}

.home-bg-banner {
    background: url(../images/sharedLayout/banner.png);
    height: 100vh;
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------- foooter ----------- */
.footer {
    background-color: #111;
    padding: 25px 0px;
}

    .footer .footer-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .footer .footer-bar .footer-menu {
            display: flex;
            justify-content: center;
        }

            .footer .footer-bar .footer-menu li {
                padding: 0px 17px;
            }

            .footer .footer-bar .footer-menu a {
                font-size: 14px;
                color: #f1f1f1;
                transition: all ease 0.3s;
            }

                .footer .footer-bar .footer-menu a:hover {
                    color: #1d7a8c;
                }

        .footer .footer-bar .footer-social {
            width: 106px;
            display: flex;
            justify-content: end;
        }

            .footer .footer-bar .footer-social > a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                aspect-ratio: 1;
                border-radius: 25px;
                transition: ease 0.3s;
            }

                .footer .footer-bar .footer-social > a:hover {
                    background-color: #1d7a8c;
                }

    .footer .footer-terms-privacy {
        font: 14px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        color: #646464;
        flex-wrap: wrap;
    }

        .footer .footer-terms-privacy a {
            transition: ease 0.3s;
            color: #646464;
        }

            .footer .footer-terms-privacy a:hover {
                color: #1d7a8c;
            }

/* ---- back to top button ---- */
.bk-top {
    width: 48px;
    aspect-ratio: 1;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: #515151;
    z-index: 5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    visibility: hidden;
    opacity: 0;
}

    .bk-top:hover {
        background: #1d7a8c;
    }

.bk-top-scroll {
    visibility: visible;
    opacity: 1;
}

/* ********* media query for layout file ********* */
@media (max-width: 1200px) {
    .navigation-bar .navigation-menu a {
        padding: 7px 12px 7px 12px;
    }

    .bk-top {
        left: 20px;
    }

    .navigation-bar .navigation-logo {
        width: 73px;
    }
}

@media (max-width: 992px) {
    /* ---------- navigation ---------- */
    .navigation-bar {
        padding: 5px 15px;
    }

        .navigation-bar .nav-toggler {
            display: block;
        }

        .navigation-bar .navigation-menu {
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 100%;
            padding: 10px 0px 40px;
            position: fixed;
            top: 0;
            right: -250px;
            overflow-x: hidden;
            background-color: white;
        }

            .navigation-bar .navigation-menu a {
                margin-left: 0;
                padding: 8px 20px;
                color: #646464;
                border: 0;
                border-radius: 0;
                transition: all ease 0.3s;
                width: 100%;
            }

                .navigation-bar .navigation-menu a:hover,
                .navigation-bar .navigation-menu a:focus {
                    border: 0;
                    border-radius: 0;
                    background-color: #d8d8d885;
                }

                .navigation-bar .navigation-menu a.active {
                    transition: all ease 0.3s;
                    border-color: #00000000;
                }

                    .navigation-bar .navigation-menu a.active:hover,
                    .navigation-bar .navigation-menu a.active:focus {
                        color: #29626d;
                        background-color: #c7d8db85;
                    }

                .navigation-bar .navigation-menu a.active-scroll {
                    background-color: white;
                }

            .navigation-bar .navigation-menu .navigation-menu-link {
                width: 100%;
                flex-direction: column;
            }

            .navigation-bar .navigation-menu .navigation-menu-buttons {
                display: none;
            }

    /* ----------- foooter ----------- */
    .footer .footer-bar {
        flex-direction: column;
        gap: 16px;
    }

        .footer .footer-bar .footer-menu {
            row-gap: 16px;
            flex-wrap: wrap;
        }

        .footer .footer-bar .footer-social {
            width: auto;
            justify-content: center;
        }
}


/* all others */
:root {
    --clr-white: #ffffff;
    --clr-blue-white: #f4f5f8;
    --clr-red-white: #f6f6f6;
    --clr-white-table: #e1e1e1;
    --clr-secondary: #1d7a8c;
    --clr-secondary-dark: #006072;
    --clr-f9-grey: #f9f9f9;
    --clr-4f-grey: #4f4f4f;
    --clr-52-grey: #525252;
    --clr-56-grey: #565656;
    --clr-64-grey: #646464;
    --clr-light-grey: #9ba0a3;
    --clr-f1-grey: #f1f1f1;
    --clr-c8-grey: #c8c8c8;
    --clr-black: #000000;
    --clr-transparent: #00000000;
    --clr-primary-admin: #1FB6FF;
    --clr-white: #ffffff;
    --clr-tomato: #ff6b6b;
    --clr-tomato-dark: #e96161;
    --clr-green: #67b644;
}

/* ---------- Loader ---------- */
.loadingPage {
    background-color: #00000033;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

    .loadingPage.loadingPageHide {
        display: none;
    }

.loadingPageBox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 81px;
    aspect-ratio: 1;
    border: 9px solid var(--clr-secondary-dark);
    border-radius: 100%;
    border-top-color: #00000000;
    border-bottom-color: #00000000;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.color-secondary {
    color: var(--clr-secondary);
}

.color-primary-admin {
    color: var(--clr-primary-admin);
}

.color-64-grey {
    color: var(--clr-64-grey);
}

.color-4f-grey {
    color: var(--clr-4f-grey);
}

.cursorPointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--clr-secondary);
    box-shadow: none;
}

.form-select {
    color: var(--clr-64-grey);
    height: 40px;
}

.form-check-input:checked {
    background-color: var(--clr-secondary);
    border-color: var(--clr-secondary);
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--clr-secondary);
}

.form-check-label {
    color: var(--clr-64-grey);
}

input::placeholder {
    color: var(--clr-light-grey) !important;
}

input:read-only:focus {
    border-color: #ced4da;
}

.dropdown .dropdown-menu {
    z-index: 5 !important;
}

.dropdown .dropdown-menu-end {
    width: 230px;
}

/*Hello*/

.main-left-margin .form-control:focus,
.main-left-margin .form-select:focus {
    border-color: var(--clr-primary-admin);
    box-shadow: none;
}

.main-left-margin .form-check-input:checked {
    background-color: var(--clr-primary-admin);
    border-color: var(--clr-primary-admin);
}

.main-left-margin .form-check-input:focus {
    box-shadow: none;
    border-color: var(--clr-primary-admin);
}

.main-left-margin input:read-only:focus {
    border-color: #ced4da;
}

/* stops crolling form body class */
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* font size classes */
.t-13 {
    font-size: 13px;
}

.t-14 {
    font-size: 14px;
}

.t-16 {
    font-size: 16px;
}

.t-17 {
    font-size: 17px;
}

.t-18 {
    font-size: 18px;
}

.t-20 {
    font-size: 20px;
}

.t-22 {
    font-size: 22px;
}

.t-24 {
    font-size: 24px;
}

.t-28 {
    font-size: 28px;
}

.t-30 {
    font-size: 30px;
}

.t-36 {
    font-size: 36px;
}

.t-38 {
    font-size: 38px;
}

.t-40 {
    font-size: 40px;
}

.t-48 {
    font-size: 48px;
}

.t-50 {
    font-size: 50px;
}

h1, h2, h3, h4 {
    color: var(--clr-4f-grey);
}

/* -------- home page -------- */
/* background of section 1 */
.bg-s-1 {
    background-image: linear-gradient( #00000080, #00000080 ), url(../images/banner-bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.ps-lg-5 {
    margin-top: 124px;
}

.btn-change {
    padding: 12.5px 30px;
    background-color: rgba(0,95,113,.6);
    border: 1px solid var(--clr-white);
    border-radius: 100px;
    color: var(--clr-white);
    transition: all ease 0.3s;
}

    .btn-change:hover {
        color: var(--clr-secondary-dark);
        background-color: var(--clr-white);
    }

.wh-max {
    max-width: 85px;
    max-height: 23px;
}

.wh-process {
    max-width: 60px;
    max-height: 60px;
}

/* margin padding for section parta*/
.s-1-p-1-d-1 {
    margin-top: 140px;
}

.s-1-p-3 {
    margin-top: 125px;
}

    .s-1-p-3 > * {
        flex: 1 1 33%;
    }

.s-1-p-4 {
    padding-block: 22px;
}

.div-s-2-p-2 p {
    color: var(--clr-56-grey);
}

.div-s-2-p-2 {
    max-width: 320px;
}

.mt-problem {
    margin-top: 36px;
}

.convince-yourself-img {
    width: 320px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 30px #d7dee3;
}

    .convince-yourself-img img {
        width: 100%;
        transition: 0.3s all ease;
    }

    .convince-yourself-img:hover img {
        transform: scale(1.1);
    }

.sec-2 {
    background-color: var(--clr-blue-white);
}

/* --------section-3------- */
.bg-s-3 {
    background-image: url(../images/blog-left-bg.png), url(../images/blog-right-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 6.5%, 6.5%;
}

    .bg-s-3 p {
        color: var(--clr-4f-grey);
    }

.div-s-3-p-3 {
    z-index: 0;
    box-shadow: 0 0 30px #c0cbd1;
    max-width: 357px;
    min-height: 365px;
    border-left: 3px solid #1d798b;
    transition: all ease 0.3s;
}

    .div-s-3-p-3:hover {
        box-shadow: 0 0 40px #738c9bb9;
    }

/* --------section-4------- */
.bg-s-4 {
    background-color: var(--clr-blue-white);
}

    .bg-s-4 .card {
        padding: 38px 24px 20px 36px;
        border-left: 3px solid var(--clr-secondary);
        background-image: url(../images/message.png);
        background-repeat: no-repeat;
        background-position: top 20px right 20px;
        background-color: var(--clr-white);
    }

.div-s-3-p-3 div,
.div-s-3-p-3 p {
    color: var(--clr-56-grey);
}

/*------ Home Page - Login ------*/
.login-input-email {
    background: url(../images/user-login.png) no-repeat;
}

.login-input-password {
    background: url(../images/lock.png) no-repeat;
}

.login-input-icon {
    color: var(--clr-56-grey) !important;
    background-position: right 10px center;
    padding-right: 36px;
    height: 46px;
}

.login-btn,
.forgot-psw-btn {
    background: var(--clr-secondary);
    padding: 12px 30px;
    color: var(--clr-white);
    border: none;
    border-radius: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.custom-modal-dialog {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#SeeWhatIncluded {
    cursor: pointer;
}

#SeeWhatIncludedModal .SeeWhatIncludedModalBox {
    max-width: 270px;
}

#SeeWhatIncludedModal .custom-modal-dialog {
    max-width: 900px;
}

#ServiceDetailsModal .custom-modal-dialog {
    max-width: 750px;
}

#RatingModal .custom-modal-dialog {
    max-width: 580px;
}

.modal-content-custom {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    padding: 25px;
}

.btn-close-modal-custom {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
}

.reset-password-success,
.reset-password-time-fail,
.alert-success-forgot-password,
.alert-unsuccess,
.myDetailsSuccess,
.ResetPasswordSuccess,
.ResetPasswordSameSuccess {
    display: none;
}


/* ------------faq-page----------- */
.navbar-margin {
    margin-top: 64px;
}

.separator-line {
    background-color: #1d798c59;
    height: 1px;
    width: 75px;
}

.bottom-faq {
    justify-content: center;
    max-width: 946px;
    width: 100%;
}

.custom-bottom .nav-link:not(.active) {
    padding: 0%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-red-white);
    color: var(--clr-64-grey);
    border-bottom: 4px solid var(--clr-secondary);
}

.custom-bottom .nav-link.active {
    padding: 0%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border-bottom: 4px solid var(--clr-secondary);
}

.cs-nav-items {
    flex-basis: 50%;
}

.bottom-faq .tab-content {
    padding: 0;
}
/* -------------- accordian -------------- */
.accordian {
    margin-top: 20px;
}

    .accordian .accordian-card {
        margin-bottom: 28px;
    }

        .accordian .accordian-card .accordian-card-head {
            font-weight: bold;
            color: var(--clr-64-grey);
            font-size: 16px;
            cursor: pointer;
        }

            .accordian .accordian-card .accordian-card-head span {
                margin-left: 16px;
            }

            .accordian .accordian-card .accordian-card-head.active .acc-img {
                transform: rotate(0deg);
                transition: ease 0.3s;
            }

        .accordian .accordian-card .accordian-card-body {
            color: var(--clr-64-grey);
            padding-top: 12px;
            margin-left: 38px;
            display: none;
        }
        /*open one card by default*/
        .accordian .accordian-card:nth-child(1) .accordian-card-body {
            display: block;
        }

        .accordian .accordian-card .accordian-card-head:not(.active) .acc-img {
            transform: rotate(-90deg);
            transition: ease 0.3s;
        }

/* ------------about-page----------- */
.about-width {
    color: var(--clr-64-grey);
    max-width: 945px;
}

/* ------------price-page----------- */
.wh_right_price {
    width: 22px;
    aspect-ratio: 1;
}

/* --------price page------- */
.tt-minute-color {
    color: var(--clr-secondary);
}

.copy-color {
    color: var(--clr-light-grey);
}

.bottom-prices {
    justify-content: center;
    max-width: 553px;
    width: 100%;
    color: var(--clr-64-grey);
}

.extra-service > * {
    flex: 1 1 100%;
}

.es-circle {
    width: 108px;
    aspect-ratio: 1;
    border: 1px solid #b0c9ce;
    border-radius: 100%;
}

.sec-2-back {
    background-color: var(--clr-red-white);
}

.div-sec-2-price {
    max-width: 360px;
    color: var(--clr-4f-grey);
}

.best-container > * {
    color: var(--clr-64-grey);
    flex: 1 1 20%;
}

.best-img {
    max-width: 375px;
    max-height: 241px;
}

/* ----------- Contact us Page ----------- */

.contact-box {
    width: 100px;
    aspect-ratio: 1;
}

.contact-services {
    border-bottom: 1px solid #6464642c;
    padding-bottom: 64px;
}

    .contact-services > * {
        flex: 1 1 30%;
    }

.contact-form {
    max-width: 650px;
}

.h-46 {
    height: 46px;
}

.btn-mobile {
    color: var(--clr-4f-grey);
    background-color: var(--clr-f1-grey);
    border: 1px solid #ced4da;
    box-shadow: none;
    pointer-events: none;
}

.textarea-height {
    height: 146px;
    margin-bottom: 16px;
}

.textarea-resize {
    resize: none;
}

.custom-file-input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    visibility: hidden;
}

#file-input-button {
    background-color: var(--clr-white);
    border: 1px solid #c6c6c6;
    color: #666;
    padding: 10px 25px;
    border-radius: 50px;
    transition: all ease 0.3s;
}

    #file-input-button:hover {
        color: var(--clr-secondary);
        border-color: var(--clr-secondary);
    }

#file-input-name {
    color: var(--clr-64-grey);
}

.submit-button {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border: none;
    width: 163px;
    line-height: 46px;
}


/* ----------- become a pro page ----------- */

.become-pro-mt {
    padding-top: 140px;
    position: relative;
}

.bg-become-helper {
    background-image: url(../images/become-a-pro-banner.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.become-helper-form {
    margin-top: 28px;
    max-width: 430px;
    padding: 20px 23px;
    background-color: var(--clr-white);
    border-radius: 5px;
    color: var(--clr-4f-grey);
}

.how-it-works-bg {
    background-image: url(../images/forma-1.svg), url(../images/forma-2.svg), url(../images/forma-3.svg), url(../images/forma-4.svg), url(../images/forma-5.svg), url(../images/forma-6.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 16px left, center left, bottom left, top 16px right, center right, right bottom;
    background-size: 10%, 10%, 10%, 10%, 10%, 10%;
}

.div-how-it-works-container {
    max-width: 750px;
}

.div-how-it-works {
    color: var(--clr-4f-grey);
    margin-bottom: 20px;
}

.div-how-it-works-steps {
    display: flex;
}

    .div-how-it-works-steps > * {
        flex-basis: 100%;
    }

section div h2.heading {
    margin: 68px 0px 73px 0px;
}

.become-helper-rights {
    max-width: 430px;
    position: absolute;
    left: 60px;
    top: 35%;
}

/* ----- ForgotPasswordReset ----- */

.ForgotPasswordReset-form {
    width: 360px;
    padding: 16px;
}

.ForgotPasswordReset-button {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    transition: all ease 0.3s;
}

    .ForgotPasswordReset-button:hover {
        background-color: var(--clr-secondary-dark);
    }

/* ----- DashBoard Page ----- */
.welcome-user-back {
    color: var(--clr-4f-grey);
    padding: 40px 0px;
    background-color: var(--clr-f9-grey);
    margin-bottom: 20px;
}

.dashboard-container {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.dashboard-left {
    background-color: var(--clr-secondary);
    height: 100%;
    margin-inline: 16px;
    position: sticky;
    top: 85px;
}

    .dashboard-left > ul {
        width: 250px;
    }

        .dashboard-left > ul .nav-link {
            font-size: 18px;
            color: var(--clr-white);
            background-color: var(--clr-secondary);
            padding: 14px 15px;
            border-radius: 0px;
            border-bottom: 1px solid rgba(255,255,255,.2);
            transition: all ease 0.3s;
        }

            .dashboard-left > ul .nav-link.active,
            .dashboard-left > ul .nav-link:hover {
                background-color: #146371;
            }


.dashboard-right {
    margin-inline: 16px;
    width: 100%;
}

/* ----- Settings Page ----- */


.setting-top > ul .nav-link {
    font-weight: bold;
    font-size: 16px;
    color: var(--clr-64-grey);
    background-color: var(--clr-white);
    padding: 15px 0px;
    border-radius: 0px;
    border-bottom: 4px solid var(--clr-light-grey);
    transition: all ease 0.3s;
}

    .setting-top > ul .nav-link.active,
    .setting-top > ul .nav-link:hover {
        background-color: var(--clr-white);
        color: var(--clr-secondary);
        border-color: var(--clr-secondary);
    }

        .setting-top > ul .nav-link.active .bi,
        .setting-top > ul .nav-link:hover .bi {
            color: var(--clr-secondary);
        }


/* ---------- book service page ---------- */
.service-left-container .service-left-container-top .nav-pills {
    flex-wrap: nowrap;
}

    .service-left-container .service-left-container-top .nav-pills > * {
        flex: 0 1 25%;
    }

.service-left-container .service-left-container-top .nav-item + .nav-item {
    border-left: 1px solid #dcdcdc;
}

.service-left-container .service-left-container-top .nav-link {
    position: relative;
    background-color: var(--clr-f1-grey);
    color: var(--clr-64-grey);
    font-size: 18px;
    border-radius: 0px;
    border-bottom: 1px solid #dcdcdc;
    padding: 16px 6px;
    height: 100%;
}

    .service-left-container .service-left-container-top .nav-link.active::after {
        position: absolute;
        content: "";
        height: 0;
        width: 0;
        top: 100%;
        border-width: 14px 14px 0 14px;
        border-color: #1d7a8c transparent transparent transparent;
        border-style: solid;
        left: 50%;
        margin-left: -14px;
    }

    .service-left-container .service-left-container-top .nav-link .service-img-div {
        position: relative;
        width: 32px;
        aspect-ratio: 1;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }

        .service-left-container .service-left-container-top .nav-link .service-img-div img {
            top: 0px;
            left: 0px;
            position: absolute;
            padding: 0px;
            margin: 0px;
        }

    .service-left-container .service-left-container-top .nav-link.active,
    .service-left-container .service-left-container-top .nav-link.used {
        color: var(--clr-white);
        background-color: var(--clr-secondary);
    }

        .service-left-container .service-left-container-top .nav-link.active .service-img-div img,
        .service-left-container .service-left-container-top .nav-link.used .service-img-div img {
            top: -32px;
        }

#StartDate {
    background: url(/images/calendar-book-service.png) no-repeat;
    background-position: left 8px center;
    height: 46px;
    padding-left: 40px;
    width: 146px;
    color: var(--clr-64-grey);
    cursor: pointer;
}

.admin-date {
    background: url(/images/admin-date.png) no-repeat;
    background-position: left 8px center;
    height: 46px;
    padding-left: 40px;
    width: 146px;
    color: var(--clr-64-grey);
    cursor: pointer;
}

.datepicker-dropdown .active.day {
    background-color: var(--clr-secondary) !important;
}

.hr-divider-service {
    background-color: rgb(100 100 100 / 0.20);
    height: 1px;
    margin: 32px 0px;
}

.textarea-height-service-book {
    height: 86px;
    resize: none;
}

.extraServiceBook {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

    .extraServiceBook > * {
        flex: 0 1 20%;
    }

    .extraServiceBook label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        text-align: center;
    }

    .extraServiceBook .extraServiceBookCircle {
        width: 108px;
        aspect-ratio: 1;
        border: 1px solid var(--clr-c8-grey);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .extraServiceBook .extraServiceBookCircle > span {
            width: 56px;
            aspect-ratio: 1;
            overflow: hidden;
            position: relative;
        }

            .extraServiceBook .extraServiceBookCircle > span > img {
                position: absolute;
                top: 0;
                left: 0;
            }

    .extraServiceBook input:checked + label .extraServiceBookCircle {
        border-color: var(--clr-secondary);
        border-width: 3px;
    }

        .extraServiceBook input:checked + label .extraServiceBookCircle > span > img {
            left: -100%;
        }

.happy-emoji {
    width: 21px;
    height: 21px;
}

.serviceFormMarginInline {
    margin-inline: 12px;
}


.service-right-container {
    /*position: relative;*/
}

    .service-right-container .service-right-container-sticky {
        position: sticky;
        top: 96px;
    }

    .service-right-container .service-right-container-sticky-top {
        background-color: var(--clr-white);
        box-shadow: 0px 5px 8px #00000080;
    }

        .service-right-container .service-right-container-sticky-top > *:first-child {
            font-size: 18px;
            background-color: var(--clr-secondary);
            color: var(--clr-white);
        }

    .service-right-container .p-20 {
        padding: 20px;
    }

    .service-right-container .service-right-container-sticky-top > *:last-child {
        background-color: var(--clr-f1-grey);
        color: var(--clr-64-grey);
        padding: 12px 20px;
    }

#PaymentSummaryBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

.PaymentSummary {
    background-color: var(--clr-green);
    color: var(--clr-white);
    font-weight: bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    bottom: 0;
    width: max-content;
    margin: 0 auto;
    padding: 8px 20px;
}

.ServiceAddressRow {
    border: 1px solid var(--clr-c8-grey);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    padding: 13px 15px;
}

.addNewAddressBox {
    background-color: #f8f8f8;
    border: 1px solid var(--clr-c8-grey);
    border-radius: 5px;
    padding: 15px;
}

#addNewAddressBoxCancel {
    margin-inline-start: 8px;
    padding: 10px 20px;
    background-color: var(--clr-blue-white);
    border: 1px solid var(--clr-c8-grey);
    border-radius: 100px;
    color: var(--clr-64-grey);
    transition: all ease 0.3s;
}

    #addNewAddressBoxCancel:hover {
        color: var(--clr-secondary);
        border: 1px solid var(--clr-secondary);
    }

#addNewAddressBoxSave {
    padding: 10px 24px;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border: none;
    border-radius: 100px;
    transition: all ease 0.3s;
}

    #addNewAddressBoxSave:hover {
        background-color: var(--clr-secondary-dark);
    }

.addNewAddress {
    background-color: var(--clr-white);
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary);
    padding: 10px 15px;
    border-radius: 100px;
    font-weight: bold;
    transition: all ease 0.3s;
}

    .addNewAddress:hover,
    .addNewAddress:focus {
        background-color: var(--clr-secondary);
        color: var(--clr-white);
    }

#applyPromoCodeBtn {
    color: var(--clr-64-grey);
    border: 1px solid var(--clr-secondary);
    border-radius: 100px;
    background-color: var(--clr-white);
    padding: 10px 25px;
    margin-top: 32px;
    transition: all ease 0.3s;
}

    #applyPromoCodeBtn:hover {
        color: var(--clr-white);
        background-color: var(--clr-secondary);
    }

.serviceSuccessRight {
    background-color: var(--clr-green);
    aspect-ratio: 1;
    width: 85px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-address {
    width: 100%;
    margin: 16px auto;
    color: var(--clr-64-grey);
    border: 1px solid #e5e5e5;
}

    .table-address tr {
        border: 1px solid #e5e5e5;
    }

        .table-address tr th {
            padding-block: 10px;
        }

        .table-address tr td {
            padding-block: 16px;
        }

            .table-address tr th:first-child,
            .table-address tr td:first-child {
                padding-left: 32px;
            }

            .table-address tr th:last-child,
            .table-address tr td:last-child {
                padding-right: 20px;
            }

        .table-address tr:first-child {
            background-color: var(--clr-f1-grey);
        }

    .table-address a {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        border-radius: 100%;
        aspect-ratio: 1;
        transition: all ease 0.3s;
    }

        .table-address a:hover {
            background-color: var(--clr-white-table);
        }

#AddEditAddressModal .modal-dialog,
#serviceEditModadl .modal-dialog {
    max-width: 600px;
}

.avatarRadioGroup label img {
    width: 85px;
    height: 85px;
    transition: all ease 0.3s;
    border-radius: 50%;
}

.avatarRadioGroup label.active img {
    border: 3px solid var(--clr-secondary);
    width: 85px;
    height: 85px;
}

/* ---------tables page--------- */
.pagination {
    flex-wrap: wrap;
}

    .pagination .page-item .page-link {
        border-radius: 100% !important;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #646464;
        box-shadow: none;
    }

        .pagination .page-item .page-link:hover {
            color: #1d7a8c;
        }

    .pagination .page-item.active .page-link {
        background-color: #1d7a8c !important;
        color: white;
        border-color: #1d7a8c;
    }

    .pagination li:not(:first-child) {
        margin-left: 8px !important;
    }

/*hello*/

.helperland-admin .pagination {
    flex-wrap: wrap;
    gap: 0px !important;
}

    .helperland-admin .pagination .page-item .page-link {
        border-radius: 0% !important;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #646464;
        box-shadow: none;
    }

        .helperland-admin .pagination .page-item .page-link:hover {
            color: #1d7a8c;
        }

    .helperland-admin .pagination .page-item.active .page-link {
        background-color: var(--clr-primary-admin) !important;
        color: white;
        border-color: #1d7a8c;
    }

    .helperland-admin .pagination li:not(:first-child) {
        margin-left: 0px !important;
    }

.dataTables_length {
    color: var(--clr-64-grey);
    display: inline;
}

.dataTables_info {
    color: var(--clr-64-grey);
    display: inline;
}

table.dataTable {
    color: var(--clr-64-grey);
    border: 1px solid #dee2e6 !important;
    border-bottom: 0px !important;
}

    table.dataTable tr {
        border-bottom: 1px solid #dee2e6 !important;
    }

    table.dataTable .table-header {
        background-color: #f9f9f9;
    }

    table.dataTable thead th {
        background: transparent !important;
        white-space: nowrap;
    }

    table.dataTable thead span.sort-icon {
        display: inline-block;
        width: 20px;
        height: 18px;
    }

    table.dataTable thead .sorting span.sort-icon {
        background: none;
    }

    table.dataTable thead .sorting_asc span.sort-icon {
        background: url(/images/sort.png) no-repeat right bottom;
    }

    table.dataTable thead .sorting_desc span.sort-icon {
        background: url(/images/sort.png) no-repeat right bottom;
    }

    table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
        padding-right: 8px;
    }

    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc_disabled:before,
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:after {
        content: "";
    }

    table.dataTable td {
        vertical-align: middle;
    }

    table.dataTable td,
    table.dataTable th {
        padding-top: 12px;
        padding-bottom: 12px;
    }

        table.dataTable td:first-child,
        table.dataTable th:first-child {
            padding-left: 16px;
        }

table#MyRatingSPTable td {
    border: 1px solid #dee2e6;
}

table#MyRatingSPTable {
    border: 0px !important;
}

table#blockedUserSPTable {
    border: 0px !important;
}

    table#blockedUserSPTable td {
        border: 1px solid #dee2e6;
        padding: 12px 8px;
    }

    table#blockedUserSPTable tr {
        border-bottom: 0px !important;
    }

.table#blockedUserSPTable > :not(:first-child) {
    border: 0px;
}

.helperland-admin .table.dataTable thead tr {
    background-color: rgba(0, 0, 0, 0.025);
}

.blockedUserList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px;
}

    .blockedUserList tr {
        display: block;
        flex: 0 1 30%;
    }

.avatarRing {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa;
    border-radius: 100%;
}

    .avatarRing img {
        height: 40px;
        width: 40px;
    }


.ind-completed {
    color: var(--clr-white);
    padding: 1.5px 10px;
    background-color: #67b644;
    width: fit-content;
}

.ind-cancelled {
    color: var(--clr-white);
    padding: 1.5px 10px;
    background-color: var(--clr-tomato);
    width: fit-content;
}

.ind-new {
    color: var(--clr-white);
    padding: 1.5px 10px;
    background-color: #f2bb37;
    width: fit-content;
}

.ind-pending {
    color: var(--clr-white);
    padding: 1.5px 10px;
    background-color: var(--clr-primary-admin);
    width: fit-content;
}

.reschedule-button {
    cursor: pointer;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    padding: 5px 10px;
    border-radius: 50px;
    width: fit-content;
    border: 0px;
}

.export-button {
    cursor: pointer !important;
    background-color: var(--clr-secondary) !important;
    color: var(--clr-white) !important;
    padding: 5px 10px !important;
    border-radius: 50px !important;
    width: fit-content !important;
    border: 0px !important;
}

.reschedule-button:hover {
    background-color: var(--clr-secondary-dark);
}

.reschedule-button.disabled:hover {
    background-color: var(--clr-secondary);
    cursor: not-allowed;
}

.cancel-button {
    cursor: pointer;
    background-color: var(--clr-tomato);
    color: var(--clr-white);
    padding: 5px 10px;
    border-radius: 50px;
    width: fit-content;
    border: 0px !important;
}

    .cancel-button:hover {
        background-color: var(--clr-tomato-dark);
    }

.bigAvatar {
    width: 70px !important;
    height: 70px !important;
}

    .bigAvatar img {
        height: 66px !important;
        width: 66px !important;
    }

.star-color {
    color: #d4d4d4;
}

.star-color-fill {
    color: #ecb91c;
}


/* ------- Rating ------- */

.widthFitContent {
    width: fit-content;
}

.ProvideRating {
    margin: 14px 8px;
    display: flex;
    transform: rotateY(180deg);
    gap: 2px;
    justify-content: center;
    width: 92px;
}

    .ProvideRating input {
        display: none;
    }

    .ProvideRating label {
        display: block;
        cursor: pointer;
        width: 16px;
        height: 16px;
        position: relative;
    }

        .ProvideRating label::before {
            line-height: 16px;
            content: "\F586";
            font-family: bootstrap-icons;
            display: block;
            font-size: 16px;
            color: #d4d4d4;
        }

        .ProvideRating label::after {
            line-height: 16px;
            content: "\F586";
            font-family: bootstrap-icons;
            position: absolute;
            top: 0;
            display: block;
            font-size: 16px;
            color: #ecb91c;
            opacity: 0;
            transition: all ease-in-out 0.3s;
        }

        .ProvideRating label:hover::after,
        .ProvideRating label:hover ~ label::after,
        .ProvideRating input:checked ~ label::after {
            opacity: 1;
        }


.accept-button-green {
    color: var(--clr-white);
    background-color: var(--clr-green);
    border-radius: 50px;
}

.main-left-margin {
    background-color: #f2f4f5;
}

.admin-drop {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.3s ease;
}

    .admin-drop:hover {
        cursor: pointer;
        background-color: var(--clr-blue-white);
    }

.searchButton {
    height: 46px;
    background-color:var(--clr-primary-admin);
    color:var(--clr-white);
    border-radius: 4px;
    border-color: var(--clr-primary-admin);
    box-shadow:none;
    padding-inline: 16px;
}

.clearButton {
    height: 46px;
    background-color: var(--clr-white);
    color: var(--clr-64-grey);
    border: 1px solid var(--clr-light-grey);
    border-radius: 4px;
    padding-inline: 16px;
}

/* ************** Media Query **************** */
@media (max-width: 1200px) {
    .best-container {
        max-width: 700px;
    }

        .best-container > * {
            flex: 1 1 100%;
        }

    .extra-service > * {
        flex: 1 1 50%;
    }

    .contact-services > * {
        flex: 1 1 50%;
    }

    .become-helper-rights {
        position: static;
    }
}

@media (max-width: 992px) {
    .navbar-margin {
        margin-top: 64px;
    }

    .become-pro-mt {
        padding-top: 60px;
    }

    .container.service-container {
        width: 100%;
        max-width: calc( 100% - 28px );
    }

    .extraServiceBook > * {
        flex: 0 1 33%;
    }

    #SeeWhatIncludedModal .custom-modal-dialog {
        margin-inline: 12px;
    }

    #SeeWhatIncludedModal .SeeWhatIncludedModalBox {
        max-width: 205px;
    }
}

@media (max-width: 768px) {
    .custom-loader {
        width: 48px;
        height: 48px;
        border-width: 6px;
    }

    .custom-bottom .nav-link.active {
        font-size: 20px;
    }

    .custom-bottom .nav-link:not(.active) {
        font-size: 20px;
    }

    .extraServiceBook > * {
        flex: 0 1 20%;
    }

    #SeeWhatIncludedModal .SeeWhatIncludedModalBox {
        max-width: max-content;
    }

    #PaymentSummaryBox {
        display: block;
    }

    #AddEditAddressModal .modal-dialog,
    #serviceEditModadl .modal-dialog {
        max-width: 100%;
        margin-inline: 16px;
    }

    #ServiceDetailsModal .custom-modal-dialog {
        margin-inline: 12px;
    }

    .blockedUserList tr {
        flex: 0 1 100%;
    }
}

@media (max-width: 767px) {
    table.dataTable tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        border-radius: 8px;
        box-shadow: 0px 2px 10px #cacaca;
    }

    table.dataTable#serviceRequestAdminTable tr {
        display: table-row;
        margin-bottom: auto;
        border-radius: 0px;
        box-shadow: none;
        border-bottom: 1px solid #dee2e6 !important;
    }

    table.dataTable#serviceRequestAdminTable {
        border: 1px solid #dee2e6 !important;
    }


    table.dataTable > :not(caption) > * > * {
        border: 0px !important;
    }

    table.dataTable td,
    table.dataTable th {
        padding-inline: 16px;
    }

    table.dataTable {
        border: 0px !important;
    }
}

@media (max-width: 612px) {
    #RatingModal .custom-modal-dialog {
        margin-inline: 16px;
    }
}

@media (max-width: 576px) {
    .s-1-p-3 > * {
        flex: 1 1 100%;
    }

    .bg-s-1 .ps-lg-5 .t-48 {
        font-size: 40px;
    }

    .s-1-p-1-d-1 {
        margin-top: 80px;
    }

    .s-1-p-3 {
        margin-top: 80px;
    }

    .cs-nav-items {
        flex-basis: 100%;
    }

    .convince-yourself-img {
        width: 100%;
        height: auto;
    }

    .extra-service > * {
        flex: 1 1 100%;
    }

    .contact-services > * {
        flex: 1 1 100%;
    }

    .extraServiceBook > * {
        flex: 0 1 33%;
    }

    #applyPromoCodeBtn {
        margin-top: 0px;
    }
}

@media (max-width: 400px) {
    .best-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

@media (max-width: 392px) {
    .custom-modal-dialog {
        margin-left: 16px;
        margin-right: 16px;
    }

    .extraServiceBook > * {
        flex: 0 1 100%;
    }
}



@media (min-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}


/* admin panel */



.helperland-admin .main {
    margin-left: 275px;
    width: calc(100% - 275px);
    padding: 16px;
}

.helperland-admin .wrapper {
    margin-top: 60px;
    display: flex;
}

.helperland-admin .navbar {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    padding: 2px 16px;
    width: 100%;
    background-color: var(--clr-primary-admin);
    color: var(--clr-white);
}

.menu {
    cursor: pointer;
}

.helperland-admin .sidebar {
    z-index: 4;
    box-shadow: 3px 3px 4px grey;
    transition: all 0.2s ease-in-out;
    width: 275px;
    position: fixed;
    top: 60px;
    background-color: var(--clr-white);
    height: calc(100vh - 60px);
}

.menu-show {
    left: 0px !important;
}

.helperland-admin .closebtn {
    margin-top: 10px;
    margin-left: 8px;
    cursor: pointer;
}

.helperland-admin .custom-tab .nav-link:not(.active) {
    background-color: var(--clr-white);
    color: #646464;
    border-radius: 0;
}

.helperland-admin .custom-tab .nav-link {
    padding: 12px 16px;
}

.helperland-admin .custom-tab .nav-link {
    cursor: pointer;
    border-bottom: 1px solid #64646450;
}

    .helperland-admin .custom-tab .nav-link.active,
    .helperland-admin .custom-tab .nav-link:hover {
        transition: 0.3s ease-in-out;
        border-radius: 0;
        background-color: var(--clr-white);
        color: var(--clr-primary-admin);
    }

.helperland-admin .btn-add-user {
    background-color: var(--clr-primary-admin);
    color: var(--clr-white);
}

.helperland-admin .admin-select {
    color: var(--clr-64-grey);
    max-width: 205px;
    height: 46px;
}

.helperland-admin .margin-navbar-top .input-group {
    height: 46px;
    max-width: 230px;
}

    .helperland-admin .margin-navbar-top .input-group > :nth-child(1) {
        background-color: #dedddd;
    }

.helperland-admin .zipcode {
    height: 46px;
    max-width: 140px;
}

.helperland-admin .btn-admin-pane-search {
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: var(--clr-primary-admin);
    color: var(--clr-white);
    border-radius: 4px;
}

.helperland-admin .btn-admin-pane-clear {
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dedddd;
    height: 46px;
    background-color: var(--clr-white);
    color: #646464;
    border-radius: 4px;
}

.main-left-margin {
    margin-left: 275px;
}


@media (max-width: 1200px) {
    .helperland-admin .sidebar {
        width: 225px;
    }

    .helperland-admin .main {
        margin-left: 225px;
        width: calc(100% - 225px);
    }

    .main-left-margin {
        margin-left: 225px;
    }
}


@media (max-width: 992px) {
    .helperland-admin .custom-tab .nav-link {
        border-bottom: none;
    }

    .helperland-admin .sidebar {
        position: fixed;
        top: 0;
        left: -275px;
        height: 100%;
        width: 200px;
        overflow-x: hidden;
    }

    .helperland-admin .main {
        width: 100%;
        margin-left: 0;
    }

    .main-left-margin {
        margin-left: 0px;
    }
}

@media (max-width: 576px) {
    .cs-nav-items {
        flex-basis: 100%;
    }

    .helperland-admin .wrapper {
        margin-top: 120px;
    }

    .helperland-admin .navbar {
        height: 120px;
    }
}
