/* font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* typography */
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --clr-white: #ffffff;
  --clr-blue-white: #f4f5f8;
  --clr-red-white: #f6f6f6;
  --clr-white-table: #e1e1e1;
  --clr-secondary: #1d7a8c;
  --clr-f9-grey: #f9f9f9;
  --clr-4f-grey: #4f4f4f;
  --clr-52-grey: #525252;
  --clr-56-grey: #565656;
  --clr-64-grey: #646464;
  --clr-light-grey: #9ba0a3;
  --clr-f1-grey: #f1f1f1;
  --clr-black: #000000;
  --clr-transparent: #00000000;
  --clr-primary-admin: #1FB6FF;
  --clr-white: #ffffff;
  --clr-tomato: #ff6b6b;
  --clr-green: #67b644;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* font size classes */
.t-13 {
  font-size: 13px;
}

.t-14 {
  font-size: 14px;
}

.t-16 {
  font-size: 16px;
}

.t-17 {
  font-size: 17px;
}

.t-18 {
  font-size: 18px;
}

.t-20 {
  font-size: 20px;
}

.t-22 {
  font-size: 22px;
}

.t-24 {
  font-size: 24px;
}

.t-28 {
  font-size: 28px;
}

.t-30 {
  font-size: 30px;
}

.t-36 {
  font-size: 36px;
}

.t-38 {
  font-size: 38px;
}

.t-40 {
  font-size: 40px;
}

.t-48 {
  font-size: 48px;
}

.t-50 {
  font-size: 50px;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-4f-grey);
}

/* background of section 1 */
.bg-s-1 {
  background-image: url(../img/Landing-Page-background-image.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* active main button decoration */
nav li.active-main {
  background-color: #29626d;
}

nav li.active {
  padding-inline: 18px;
  border: var(--clr-white) 1px solid;
  border-radius: 100px;
}

.home-navbar .dropdown-menu[data-bs-popper] {
  left: -115px;
}

.bg-become-helper .dropdown-menu[data-bs-popper] {
  left: -115px;
}

/* button design  */
.btn-change {
  padding: 12.5px 30px;
  background-color: #006072;
  border: 1px solid var(--clr-white);
  border-radius: 100px;
  color: var(--clr-white);
}

/* width height for sp3 images */
.wh-max {
  max-width: 85px;
  max-height: 23px;
}

.wh-process {
  max-width: 60px;
  max-height: 60px;
}

/* margin padding for section parta*/
.s-1-p-1-d-1 {
  margin-top: 165px;
}

.s-1-p-3 {
  margin-top: 175px;
}

.s-1-p-3>* {
  flex: 1 1 33%;
}

.s-1-p-4 {
  padding-block: 22px;
}

/* --------section-2------- */
.div-s-2-p-2 p {
  color: var(--clr-56-grey);
}

.div-s-2-p-2 {
  max-width: 320px;
}

.mt-problem {
  margin-top: 36px;
}

/* --------section-3------- */

.bg-s-3 {
  background-image: url(../img/blog-left-bg.png), url(../img/blog-right-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: 10%, 10%;
}

.bg-s-3 p {
  color: var(--clr-4f-grey);
}

.div-s-3-p-3 {
  max-width: 357px;
}

/* --------section-4------- */
.bg-s-4 {
  background-color: var(--clr-blue-white);
}

.bg-s-4 .card {
  padding: 38px 24px 20px 36px;
  border-left: 3px solid --clr-secondary;
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
  background-color: var(--clr-white);
}

.div-s-3-p-3 div,
.div-s-3-p-3 p {
  color: var(--clr-56-grey);
}

small {
  color: #a3a3a3;
}

.email-input {
  background: var(--clr-white);
  border-radius: 35px;
  color: var(--clr-56-grey);
  padding: 0px 4px 0px 16px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid var(--clr-56-grey);
}

.rnd-btn {
  height: 48px;
  aspect-ratio: 1;
  background-color: var(--clr-52-grey);
  border-radius: 30px;
}

.layer-598 {
  max-width: 63px;
  max-height: 63px;
}

.submit-btn {
  color: var(--clr-white);
  padding: 8px 12px;
  background: #ff7b6d;
  border-radius: 35px;
}

.social {
  margin-left: 66px;
}

.bg-black {
  background-color: var(--clr-black);
}

.color-f1 {
  color: var(--clr-f1-grey);
}

.bg-color {
  color: var(--clr-white);
  background-color: #292929;
}

.ok-btn {
  cursor: pointer;
  color: var(--clr-black);
  padding: 8px 32px;
  background: #eed507;
  border-radius: 35px;
}

.footer-index {
  background-color: var(--clr-blue-white);
}

#privacy-policy {
  transition: ease-out 0.5s;
}

/* ------------faq-page----------- */
.separator-line {
  background-color: var(--clr-secondary);
  height: 0.6px;
  width: 75px;
}

.bottom-faq {
  justify-content: center;
  max-width: 946px;
  width: 100%;
}

.color-64-grey {
  color: var(--clr-64-grey);
}

.helperland-admin h1 {
  color: var(--clr-white);
}

/* accordian button */
.acc-btn-custom {
  padding: 0%;
  color: var(--clr-64-grey);
  width: 100%;
  border: none;
  text-align: start;
  background-color: transparent;
}

.acc-btn-custom[aria-expanded="false"]>img {
  transform: rotate(-90deg);
  box-shadow: none;
  text-shadow: none;
}

.accordion-item {
  margin-block: 24px;
  color: var(--clr-64-grey);
  border: none;
  margin: none;
}

.accordion-item .accordion-body {
  padding: 12px 0px 0px 33px;
}

.custom-bottom .nav-link:not(.active) {
  padding: 0%;
  line-height: 61px;
  background-color: var(--clr-red-white);
  color: var(--clr-64-grey);
}

.custom-bottom .nav-link.active {
  padding: 0%;
  line-height: 61px;
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

.custom-bottom {
  display: flex;
  border-bottom: 3px solid var(--clr-secondary);
  padding: 0;
}

.cs-nav-items {
  flex-basis: 50%;
}

.bottom-faq .tab-content {
  padding: 0;
}

/* --------price page------- */
.price-active {
  color: var(--clr-white);
  background-color: var(--clr-secondary);
  line-height: 59px;
}

.line {
  background-color: var(--clr-light-grey);
  height: 0.1px;
  margin-inline: 44px;
}

.tt-minute-color {
  color: var(--clr-secondary);
}

.copy-color {
  color: var(--clr-light-grey);
}

.bg-navbar {
  background-color: var(--clr-52-grey);
}

.bottom-prices {
  border: 1px solid var(--clr-secondary);
  justify-content: center;
  max-width: 553px;
  width: 100%;
  color: var(--clr-64-grey);
}

.price-top-border {
  border-top: 1px solid var(--clr-light-grey);
}

.extra-service>* {
  flex: 1 1 100%;
}

.es-circle {
  width: 108px;
  aspect-ratio: 1;
  border: 1px solid #b0c9ce;
  border-radius: 100%;
}

.sec-2-back {
  background-color: var(--clr-red-white);
}

.div-sec-2-price {
  max-width: 360px;
  color: var(--clr-4f-grey);
}

.best-container>* {
  color: var(--clr-64-grey);
  flex: 1 1 100%;
}

.best-img {
  max-width: 375px;
  max-height: 241px;
}

.submit-button {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  border: none;
  width: 163px;
  line-height: 46px;
}

.textarea-height {
  height: 146px;
}

.contact-form {
  max-width: 650px;
}

.h-46 {
  height: 46px;
}

.btn-mobile,
.btn-mobile:hover {
  color: var(--clr-4f-grey);
  background-color: var(--clr-f1-grey);
}

.contact-box {
  width: 100px;
  aspect-ratio: 1;
}

.about-width {
  color: var(--clr-64-grey);
  max-width: 992px;
}

/* become a helper page */

.bg-become-helper {
  background-image: url(../img/become-a-pro-banner.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.become-helper-form {
  margin-top: 28px;
  max-width: 430px;
  padding: 20px 23px;
  background-color: var(--clr-white);
  border-radius: 5px;
  color: var(--clr-4f-grey);
}

.how-it-works-bg {
  background-image: url(../img/forma-1.svg), url(../img/forma-2.svg),
    url(../img/forma-3.svg), url(../img/forma-4.svg), url(../img/forma-5.svg),
    url(../img/forma-6.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 16px left, center left, bottom left, top 16px right,
    center right, right bottom;
  background-size: 10%, 10%, 10%, 10%, 10%, 10%;
}

.div-how-it-works-container {
  max-width: 750px;
}

.div-how-it-works {
  color: var(--clr-4f-grey);
  margin-bottom: 20px;
}

.div-how-it-works-steps {
  display: flex;
}

.div-how-it-works-steps>* {
  flex-basis: 100%;
}

section div h2.heading {
  margin: 68px 0px 73px 0px;
}

/* upcoming services page */

.upcoming-ser-nav .dropdown-menu[data-bs-popper] {
  left: -90px;
  top: 90px;
}

.upcoming-ser-nav .dropdown-menu,
.upcoming-ser-nav .dropdown-menu>*>* {
  color: var(--clr-64-grey);
}

.upcoming-ser-nav .dropdown-menu::before {
  position: absolute;
  top: 0;
  content: "";
  border-width: 0 8px 12px 8px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  top: -12px;
  right: 34px;
}

.welcome-user-back {
  color: var(--clr-4f-grey);
  padding: 45px 0px;
  background-color: var(--clr-f9-grey);
}

.notification-border {
  padding: 0px 8px;
  border-left: 1px solid var(--clr-f1-grey);
  border-right: 1px solid var(--clr-f1-grey);
}

.custom-tab .nav-link:not(.active) {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  border-radius: 0;
}

.custom-tab .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.custom-tab .nav-link {
  padding: 16px;
}

.custom-tab .nav-link.active,
.custom-tab .nav-link:hover {
  transition: 0.3s ease-in-out;
  border-radius: 0;
  background-color: #146371;
  color: var(--clr-white);
}

.tab-panel-back {
  background-color: var(--clr-secondary);
}

.tab-div {
  height: 32px;
  background-color: var(--clr-white);
}

.sec-part .navbar {
  padding: 0;
}

.custom-tab .nav-close {
  color: var(--clr-white);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 16px;
}

.pos-sticky {
  position: sticky;
  top: 0px;
}

.tab-pane {
  transition: all ease-in-out 0ms;
}

.table-for-service-providers {
  color: var(--clr-64-grey);
  border: 1px solid var(--clr-white-table);
}

.table-for-service-providers-head {
  background-color: var(--clr-f9-grey);
  border-bottom: 1px solid --clr-white-table;
}

.table-for-service-providers-head th {
  padding-top: 12px;
  padding-bottom: 14px;
}

.table-for-service-providers-body>* {
  border-bottom: 1px solid var(--clr-white-table);
}

.table-for-service-providers-body>*>* {
  padding-top: 12px;
  padding-bottom: 12px;
}

.table-for-service-providers-body>*> :nth-child(1) {
  padding-left: 17px;
}

.table-for-service-providers-only .table-for-service-providers-body>*> :nth-child(5) {
  text-align: center;
}

.table-for-service-providers-head>*> :nth-child(1) {
  padding-left: 14px;
}

.table-for-service-providers-only .table-for-service-providers-head>*> :nth-child(5) {
  text-align: center;
}

.table-for-service-history .table-for-service-providers-body>*> :nth-child(3),
.table-for-service-history .table-for-service-providers-body>*> :nth-child(4),
.table-for-service-history .table-for-service-providers-body>*> :nth-child(5) {
  text-align: center;
}

.table-for-service-history .table-for-service-providers-head>*> :nth-child(3),
.table-for-service-history .table-for-service-providers-head>*> :nth-child(4),
.table-for-service-history .table-for-service-providers-head>*> :nth-child(5) {
  text-align: center;
}

.table-for-service-providers-only .table-for-service-providers-body .btn-cancel {
  background: var(--clr-tomato);
  border: none;
  color: var(--clr-white);
  padding: 6.5px 19px;
}

.table-for-service-history .table-for-service-providers-body .btn-rate-sp {
  background: #6DA9B5;
  border: none;
  color: var(--clr-white);
  padding: 6.5px 11px;
}

.ind-completed {
  color: var(--clr-white);
  padding: 3.5px 9.5px;
  background-color: #67b644;
}

.ind-cancelled {
  color: var(--clr-white);
  padding: 3.5px 9.5px;
  background-color: var(--clr-tomato);
}

.ind-new {
  color: var(--clr-white);
  padding: 3.5px 9.5px;
  background-color: #F2BB37;
}

.ind-pending {
  color: var(--clr-white);
  padding: 3.5px 9.5px;
  background-color: #1FB6FF;
}

.table-dropdown {
  border-radius: 4px;
  border: 1px solid var(--clr-white-table);
  height: 38px;
  width: 56px;
  background: var(--clr-white);
  color: var(--clr-64-grey);

}

.page-round {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  aspect-ratio: 1;
  border: 1px solid var(--clr-white-table);
  border-radius: 30px;
}

.page-round-select {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  background: var(--clr-secondary);
  width: 38px;
  aspect-ratio: 1;
  border: 1px solid var(--clr-secondary);
  border-radius: 30px;
}

.page-round-reverse>* {
  transform: rotate(180deg);
}

.show-entries {
  color: var(--clr-64-grey);
}

.cap-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  aspect-ratio: 1;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
}

.euro-63 {
  color: var(--clr-secondary);
}

/* admin-service-requests */
.helperland-admin .main {
  margin-left: 275px;
  width: calc(100% - 275px);
  padding: 16px;
  background-color: #f2f4f5;
}

.helperland-admin .wrapper {
  margin-top: 60px;
  display: flex;
}

.helperland-admin .navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 2px 16px;
  width: 100%;
  background-color: var(--clr-primary-admin);
  color: var(--clr-white);
}

.menu {
  cursor: pointer;
}

.helperland-admin .sidebar {
  z-index: 4;
  box-shadow: 3px 3px 4px grey;
  transition: all 0.2s ease-in-out;
  width: 275px;
  position: fixed;
  top: 60px;
  background-color: var(--clr-white);
  height: calc(100vh - 60px);
}

.menu-show {
  left: 0px !important;
}

.helperland-admin .closebtn {
  margin-top: 10px;
  margin-left: 8px;
  cursor: pointer;
}



.helperland-admin .custom-tab .nav-link:not(.active) {
  background-color: var(--clr-white);
  color: #646464;
  border-radius: 0;
}

.helperland-admin .custom-tab .nav-link {
  padding: 12px 16px;
}

.helperland-admin .custom-tab .nav-link {
  cursor: pointer;
  border-bottom: 1px solid #646464;
}

.helperland-admin .custom-tab .nav-link.active,
.helperland-admin .custom-tab .nav-link:hover {
  transition: 0.3s ease-in-out;
  border-radius: 0;
  background-color: var(--clr-white);
  color: var(--clr-primary-admin);
}

.helperland-admin .btn-add-user {
  background-color: var(--clr-primary-admin);
  color: var(--clr-white);
}

.helperland-admin .admin-select {
  color: var(--clr-64-grey);
  max-width: 205px;
  height: 46px;
}

.helperland-admin .margin-navbar-top .input-group {
  height: 46px;
  max-width: 230px;
}

.helperland-admin .margin-navbar-top .input-group> :nth-child(1) {
  background-color: #dedddd;
}

.helperland-admin .zipcode {
  height: 46px;
  max-width: 140px;
}

.helperland-admin .btn-admin-pane-search {
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  background-color: var(--clr-primary-admin);
  color: var(--clr-white);
  border-radius: 4px;
}

.helperland-admin .btn-admin-pane-clear {
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedddd;
  height: 46px;
  background-color: var(--clr-white);
  color: #646464;
  border-radius: 4px;
}

.helperland-admin .search-holder {
  margin-top: 10px;
  background-color: var(--clr-white);
  padding: 20px 16px;
}

.admin-service-request-table {
  background-color: var(--clr-white);
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid var(--clr-64-grey);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid var(--clr-64-grey);
}

.admin-paginate-box {
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-64-grey);
}

.admin-paginate-box-pre {
  border-radius: 4px 0px 0px 4px;
}

.admin-paginate-box-next {
  border-radius: 0px 4px 4px 0px;
}

.admin-paginate-box-fill {
  background-color: var(--clr-56-grey);
  color: var(--clr-white);
}

.admin-table-footer {
  color: var(--clr-64-grey);
}

.table-for-service-requests .table-for-service-providers-body>*> :nth-child(5),
.table-for-service-requests .table-for-service-providers-body>*> :nth-child(6),
.table-for-service-requests .table-for-service-providers-body>*> :nth-child(7),
.table-for-service-requests .table-for-service-providers-body>*> :nth-child(8) {
  text-align: center;
}

.table-for-service-requests .table-for-service-providers-head>*> :nth-child(5),
.table-for-service-requests .table-for-service-providers-head>*> :nth-child(6),
.table-for-service-requests .table-for-service-providers-head>*> :nth-child(7),
.table-for-service-requests .table-for-service-providers-head>*> :nth-child(8) {
  text-align: center;
}

.table-for-service-requests .table-for-service-providers-body>*>* {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table-for-service-requests {
  overflow: hidden;
}

.search-holder2 :nth-child(1) {
  max-width: 110px;
}

.search-holder2 :nth-child(2) {
  max-width: 120px;
}

.search-holder2 :nth-child(3) {
  max-width: 172px;
}

.search-holder2 :nth-child(4) {
  max-width: 100px;
}

.date {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  justify-content: space-evenly;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  color: #A0A0A0;
}

/* media-queries */
@media (max-width: 326px) {
  .best-img {
    max-width: 100%;
    max-height: none;
  }
}

@media (max-width: 460px) {
  .become-helper-form {
    padding-inline: 8px;
    margin-inline: 16px;
  }
}

@media (max-width: 768px) {
  .cs-nav-items {
    flex-basis: 100%;
  }

  .mt-problem {
    margin-top: 0px;
  }

  .div-how-it-works {
    padding-inline: 32px;
    margin-bottom: 32px;
  }
}



@media (max-width: 1200px) {

  .helperland-admin .sidebar {
    width: 225px;
  }

  .helperland-admin .main {
    margin-left: 225px;
    width: calc(100% - 225px);
  }

  .upcoming-ser-nav .dropdown-menu::before {
    display: none;
  }

  .notification-border {
    padding: 0px 8px;
    border: none;
  }

  .bg-s-3 {
    background: var(--clr-white);
  }

  .extra-service>* {
    flex: 1 1 50%;
  }

  .contact-services>* {
    flex: 1 1 50%;
  }
}

@media (max-width: 992px) {

  .helperland-admin .custom-tab .nav-link {
    border-bottom: none;
  }

  .helperland-admin .sidebar {
    position: fixed;
    top: 0;
    left: -275px;
    height: 100%;
    width: 200px;
    overflow-x: hidden;
  }

  .helperland-admin .main {
    width: 100%;
    margin-left: 0;
  }

  .welcome-user-back {
    padding: 25px 0px;
  }

  .tab-panel-back {
    background-color: var(--clr-white);
  }

  #tabs-upcoming-requests .table-for-service-providers-head {
    display: none;
  }

  #tabs-service-history .table-for-service-providers-head {
    display: none;
  }

  .custom-card {
    width: 100%;
    z-index: -1;
    margin-bottom: 32px;
  }

  .table-for-service-providers {
    border: none;
  }

  .table-for-service-providers-body>*>* {
    padding-left: 17px;
  }

  .tab-div {
    display: none;
  }

  .sec-part .navbar-collapse {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
  }

  .sec-part .navbar-collapse.collapsing {
    height: 100%;
    left: -75%;
    transition: height 0s ease;
  }

  .sec-part .navbar-collapse .show {
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;
  }

  .sec-part .navbar-toggler.collapsed~.navbar-collapse {
    transition: left 400ms ease-in;
  }

  .custom-tab .nav-link:not(.active) {
    background-color: var(--clr-transparent);
    color: var(--clr-white);
    border-radius: 0;
  }

  .custom-tab .nav-item {
    border-bottom: none;
  }

  .custom-tab .nav-link.active,
  .custom-tab .nav-link:hover {
    transition: 0.3s ease-in-out;
    border-radius: 0;
    background-color: var(--clr-transparent);
    color: var(--clr-secondary);
  }

  .social {
    margin-left: 0px;
  }

  .how-it-works-bg {
    background: var(--clr-white);
  }
}

@media (max-width: 576px) {

  .helperland-admin .wrapper {
    margin-top: 120px;
  }

  .helperland-admin .navbar {
    height: 120px;
  }

  .s-1-p-3>* {
    flex: 1 1 100%;
  }

  .contact-services>* {
    flex: 1 1 100%;
  }

  .extra-service>* {
    flex: 1 1 100%;
  }
}