/* font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* typography */
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --clr-white: #ffffff;
  --clr-blue-white: #f4f5f8;
  --clr-red-white: #f6f6f6;
  --clr-secondary: #1d7a8c;
  --clr-4f-grey: #4f4f4f;
  --clr-52-grey: #525252;
  --clr-56-grey: #565656;
  --clr-64-grey: #646464;
  --clr-light-grey: #9ba0a3;
  --clr-f1-grey: #f1f1f1;
  --clr-black: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* font size classes */
.t-13 {
  font-size: 13px;
}
.t-14 {
  font-size: 14px;
}
.t-16 {
  font-size: 16px;
}
.t-17 {
  font-size: 17px;
}
.t-18 {
  font-size: 18px;
}
.t-20 {
  font-size: 20px;
}
.t-22 {
  font-size: 22px;
}
.t-24 {
  font-size: 24px;
}
.t-28 {
  font-size: 28px;
}
.t-30 {
  font-size: 30px;
}
.t-36 {
  font-size: 36px;
}
.t-38 {
  font-size: 38px;
}
.t-40 {
  font-size: 40px;
}
.t-48 {
  font-size: 48px;
}
.t-50 {
  font-size: 50px;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-4f-grey);
}

/* background of section 1 */
.bg-s-1 {
  background-image: url(../img/Landing-Page-background-image.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* active main button decoration */
nav li.active-main {
  background-color: #29626d;
}

nav li.active {
  padding-inline: 18px;
  border: var(--clr-white) 1px solid;
  border-radius: 100px;
}

.dropdown-menu[data-bs-popper] {
  left: -120px;
}

/* button design  */
.btn-change {
  padding: 12.5px 30px;
  background-color: #006072;
  border: 1px solid var(--clr-white);
  border-radius: 100px;
  color: var(--clr-white);
}

/* width height for sp3 images */
.wh-max {
  max-width: 85px;
  max-height: 23px;
}

.wh-process {
  max-width: 60px;
  max-height: 60px;
}

/* margin padding for section parta*/
.s-1-p-1-d-1 {
  margin-top: 165px;
}

.s-1-p-3 {
  margin-top: 175px;
}

.s-1-p-3 > * {
  flex: 1 1 33%;
}

.s-1-p-4 {
  padding-block: 22px;
}

/* --------section-2------- */
.div-s-2-p-2 p {
  color: var(--clr-56-grey);
}

.div-s-2-p-2 {
  max-width: 320px;
}

.mt-problem {
  margin-top: 36px;
}

/* --------section-3------- */

.bg-s-3 {
  background-image: url(../img/blog-left-bg.png), url(../img/blog-right-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: 10%, 10%;
}

.bg-s-3 p {
  color: var(--clr-4f-grey);
}

.div-s-3-p-3 {
  max-width: 357px;
}

/* --------section-4------- */
.bg-s-4 {
  background-color: var(--clr-blue-white);
}

.bg-s-4 .card {
  padding: 38px 24px 20px 36px;
  border-left: 3px solid --clr-secondary;
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
  background-color: var(--clr-white);
}

.div-s-3-p-3 div,
.div-s-3-p-3 p {
  color: var(--clr-56-grey);
}

small {
  color: #a3a3a3;
}

.email-input {
  background: var(--clr-white);
  border-radius: 35px;
  color: var(--clr-56-grey);
  padding: 0px 4px 0px 16px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid var(--clr-56-grey);
}

.rnd-btn {
  height: 48px;
  aspect-ratio: 1;
  background-color: var(--clr-52-grey);
  border-radius: 30px;
}

.layer-598 {
  max-width: 63px;
  max-height: 63px;
}

.submit-btn {
  color: var(--clr-white);
  padding: 8px 12px;
  background: #ff7b6d;
  border-radius: 35px;
}

.social {
  margin-left: 66px;
}

.bg-black {
  background-color: var(--clr-black);
}

.color-f1 {
  color: var(--clr-f1-grey);
}

.bg-color {
  color: var(--clr-white);
  background-color: #292929;
}

.ok-btn {
  cursor: pointer;
  color: var(--clr-black);
  padding: 8px 32px;
  background: #eed507;
  border-radius: 35px;
}

.footer-index {
  background-color: var(--clr-blue-white);
}

#privacy-policy {
  transition: ease-out 0.5s;
}
/* ------------faq-page----------- */
.separator-line {
  background-color: var(--clr-secondary);
  height: 0.6px;
  width: 75px;
}

.bottom-faq {
  justify-content: center;
  max-width: 946px;
  width: 100%;
}

.color-64-grey {
  color: var(--clr-64-grey);
}

/* accordian button */
.acc-btn-custom {
  padding: 0%;
  color: var(--clr-64-grey);
  width: 100%;
  border: none;
  text-align: start;
  background-color: transparent;
}

.acc-btn-custom[aria-expanded="false"] > img {
  transform: rotate(-90deg);
  box-shadow: none;
  text-shadow: none;
}

.accordion-item {
  margin-block: 24px;
  color: var(--clr-64-grey);
  border: none;
  margin: none;
}

.accordion-item .accordion-body {
  padding: 12px 0px 0px 33px;
}

.custom-bottom .nav-link:not(.active) {
  padding: 0%;
  line-height: 61px;
  background-color: var(--clr-red-white);
  color: var(--clr-64-grey);
}

.custom-bottom .nav-link.active {
  padding: 0%;
  line-height: 61px;
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

.custom-bottom {
  display: flex;
  border-bottom: 3px solid var(--clr-secondary);
  padding: 0;
}

.cs-nav-items {
  flex-basis: 50%;
}

.bottom-faq .tab-content {
  padding: 0;
}

/* --------price page------- */
.price-active {
  color: var(--clr-white);
  background-color: var(--clr-secondary);
  line-height: 59px;
}

.line {
  background-color: var(--clr-light-grey);
  height: 0.1px;
  margin-inline: 44px;
}

.tt-minute-color {
  color: var(--clr-secondary);
}

.copy-color {
  color: var(--clr-light-grey);
}

.bg-navbar {
  background-color: var(--clr-52-grey);
}

.bottom-prices {
  border: 1px solid var(--clr-secondary);
  justify-content: center;
  max-width: 553px;
  width: 100%;
  color: var(--clr-64-grey);
}

.price-top-border {
  border-top: 1px solid var(--clr-light-grey);
}

.extra-service > * {
  flex: 1 1 100%;
}

.es-circle {
  width: 108px;
  aspect-ratio: 1;
  border: 1px solid #b0c9ce;
  border-radius: 100%;
}

.sec-2-back {
  background-color: var(--clr-red-white);
}

.div-sec-2-price {
  max-width: 360px;
  color: var(--clr-4f-grey);
}

.best-container > * {
  color: var(--clr-64-grey);
  flex: 1 1 100%;
}

.best-img {
  max-width: 375px;
  max-height: 241px;
}

.submit-button {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  border: none;
  width: 163px;
  line-height: 46px;
}
.textarea-height {
  height: 146px;
}
.contact-form {
  max-width: 650px;
}

.h-46 {
  height: 46px;
}

.btn-mobile,
.btn-mobile:hover {
  color: var(--clr-4f-grey);
  background-color: var(--clr-f1-grey);
}

.contact-box {
  width: 100px;
  aspect-ratio: 1;
}

.about-width {
  color: var(--clr-64-grey);
  max-width: 992px;
}

/* become a helper page */

.bg-become-helper {
  background-image: url(../img/become-a-pro-banner.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.become-helper-form {
  margin-top: 28px;
  max-width: 430px;
  padding: 20px 23px;
  background-color: var(--clr-white);
  border-radius: 5px;
  color: var(--clr-4f-grey);
}

.how-it-works-bg {
  background-image: url(../img/forma-1.svg), url(../img/forma-2.svg),
    url(../img/forma-3.svg), url(../img/forma-4.svg), url(../img/forma-5.svg),
    url(../img/forma-6.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 16px left, center left, bottom left, top 16px right,
    center right, right bottom;
  background-size: 10%, 10%, 10%, 10%, 10%, 10%;
}

.div-how-it-works-container {
  max-width: 750px;
}

.div-how-it-works {
  color: var(--clr-4f-grey);
  margin-bottom: 20px;
}

.div-how-it-works-steps {
  display: flex;
}

.div-how-it-works-steps > * {
  flex-basis: 100%;
}

section div h2.heading {
  margin: 68px 0px 73px 0px;
}

/* media-queries */
@media (max-width: 326px) {
  .best-img {
    max-width: 100%;
    max-height: none;
  }
}

@media (max-width: 460px) {
  .become-helper-form {
    padding-inline: 8px;
    margin-inline: 16px;
  }
}

@media (max-width: 768px) {
  .cs-nav-items {
    flex-basis: 100%;
  }
  .mt-problem {
    margin-top: 0px;
  }
  .div-how-it-works {
    padding-inline: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 992px) {
  .social {
    margin-left: 0px;
  }
  .how-it-works-bg {
    background: var(--clr-white);
  }
}

@media (max-width: 1200px) {
  .bg-s-3 {
    background: var(--clr-white);
  }
  .extra-service > * {
    flex: 1 1 50%;
  }
  .contact-services > * {
    flex: 1 1 50%;
  }
}

@media (max-width: 576px) {
  .s-1-p-3 > * {
    flex: 1 1 100%;
  }
  .contact-services > * {
    flex: 1 1 100%;
  }
  .extra-service > * {
    flex: 1 1 100%;
  }
}
