@{
    ViewData["Title"] = "About Us";
}

<section class="navbar-margin mb-5 pb-5">
    <div class="d-flex flex-column justify-content-center">
        <img class="img-fluid" src="~/images/hero-banner-img.png" alt="" />
    </div>
    <div class="container d-flex flex-column align-items-center mt-5">
        <div class="s-2-p-1 container d-flex flex-column align-items-center mt-4">
            <h1 class="fw-medium t-36">A Few words about us</h1>
            <div class="mb-4 d-flex align-items-center">
                <div class="separator-line me-2"></div>
                <img src="~/images/separator.png" alt="" />
                <div class="separator-line ms-2"></div>
            </div>
        </div>
        <div class="about-width mb-5 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center mb-3">
                We are providers of professional home cleaning services, offering hourly
                based house cleaning options, which mean that you don't have to fret
                about getting your house cleaned anymore. We will handle everything for
                you, so that you can focus on spending your precious time with your
                family members.
            </p>
            <p class="text-center mb-5">
                We have a number of experienced cleaners to help you make cleaning out
                or shifting your home an easy affair.
            </p>
        </div>
        <div class="s-2-p-1 container d-flex flex-column align-items-center mt-4">
            <h1 class="fw-medium t-36">Our Story</h1>
            <div class="mb-4 d-flex align-items-center">
                <div class="separator-line me-2"></div>
                <img src="~/images/separator.png" alt="" />
                <div class="separator-line ms-2"></div>
            </div>
        </div>
        <div class="about-width mb-3 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center mb-3">
                A cleaner is a type of industrial or domestic worker who cleans homes or
                commercial premises for payment. Cleaners may specialise in cleaning
                particular things or places, such as window cleaners. Cleaners often
                work when the people who otherwise occupy the space are not around. They
                may clean offices at night or houses during the workday.
            </p>
        </div>
    </div>
</section>