@model ForgotPasswordResetViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<section class="navbar-margin">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <form class="ForgotPasswordReset-form mt-5" asp-action="ForgotPasswordReset" asp-controller="Home" method="post">
            <div class="mb-3 ">
                <label asp-for="Password" class="form-label color-64-grey fw-bold"></label>
                <input asp-for="Password" class="form-control h-46">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 ">
                <label asp-for="ConfirmPassword" class="form-label color-64-grey fw-bold"></label>
                <input asp-for="ConfirmPassword" class="form-control h-46">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="ForgotPasswordReset-button fw-bold" type="submit">
                Save
            </button>
        </form>
    </div>
</section>