@model ForgotPasswordResetViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - Helperland</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <partial name="_Favicons" />
</head>
<body>
    <main>
        <section>
            <div class="d-flex justify-content-center align-items-center">
                <form class="ForgotPasswordReset-form mt-5" data-ajax="true" data-ajax-loading=".loadingPageHide" data-ajax-success="resetPassSuccess"  asp-action="ForgotPasswordReset" asp-controller="Home" method="post">
                    <div id="reset-password-success" class="reset-password-success alert alert-success">
                        Your password has been changed successfully.
                        Please wait!
                    </div>
                    <div id="reset-password-time-fail" class="reset-password-time-fail alert alert-danger">
                        Your password has been changed successfully.
                        Now you can login.
                    </div>
                    <input hidden asp-for="token" />
                    <div class="mb-3 ">
                        <label asp-for="Password" class="form-label color-64-grey fw-bold"></label>
                        <input asp-for="Password" class="form-control h-46">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 ">
                        <label asp-for="ConfirmPassword" class="form-label color-64-grey fw-bold"></label>
                        <input asp-for="ConfirmPassword" class="form-control h-46">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button class="ForgotPasswordReset-button fw-bold" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <partial name="_LoaderPartial" />
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        function resetPassSuccess(response) {
            if (!response.isExpired) {
                if (response.isSuccessRP) {
                    $("#reset-password-success").removeClass("reset-password-success");
                    setTimeout(function () {
                        $("#reset-password-success").addClass("reset-password-success");
                        window.location.href = '@Url.Action("Index", "Home", new { Id = 1})';
                    }, 2000);
                    $(".ForgotPasswordReset-form")[0].reset();
                }
            } else {
                $("#reset-password-time-fail").removeClass("reset-password-time-fail");
                setTimeout(function () { $("#reset-password-time-fail").addClass("reset-password-time-fail"); }, 10000);
            }
        }
    </script>
</body>
</html>