@{
    ViewData["Title"] = "Home";
    if(User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_HomeUserLayout.cshtml";

    } else
    {
        Layout = "~/Views/Shared/_HomeLayout.cshtml";

    }
}

<!-- background -->
<section class="bg-s-1">
    <!-- section-1 part-1 -->
    <div class="container-fluid ps-lg-5">
        <div class="container-fluid s-1-p-1-d-1 d-flex flex-column">
            <h1 class="t-48 text-light mt-auto text-lg-start text-center fw-normal">Do not feel like housework?</h1>
            <p class="mb-2 text-light text-lg-start text-center">Great! Book now for Helperland and enjoy the benefits</p>
            <p class="mb-1 text-light text-lg-start text-center">
                <img class="me-1 img-fluid" src="~/images/ic-check.png" alt="" />
                certified & insured helper
            </p>
            <p class="mb-1 text-light text-lg-start text-center">
                <img class="me-1 img-fluid" src="~/images/ic-check.png" alt="" />
                easy booking procedure
            </p>
            <p class="mb-1 text-light text-lg-start text-center">
                <img class="me-1 img-fluid" src="~/images/ic-check.png" alt="" />
                friendly customer service
            </p>
            <p class="mb-1 text-light text-lg-start text-center">
                <img class="me-1 img-fluid" src="~/images/ic-check.png" alt="" />
                secure online payment method
            </p>
        </div>
    </div>

    <!-- section-1 part-2 -->
    <div class="container d-flex justify-content-center">
        <a class="btn-change mt-xl-2 mt-5 t-18" href="#">Book a helper!</a>
    </div>

    <!-- section-1 part-3 -->
    <div class="s-1-p-3 container d-flex flex-wrap flex-xl-nowrap gap-xl-4 gap-3 justify-content-center mb-2">
        <div class="d-flex flex-column align-items-center">
            <img class="img-fluid wh-process mb-4" src="~/images/ic-enter-postcode.svg" alt="" />
            <p class="text-light t-20">Enter your postcode</p>
        </div>
        <img class="img-fluid wh-max mt-3 d-xl-inline d-none" src="~/images/step-arrow-1.png" alt="" />
        <div class="d-flex flex-column align-items-center">
            <img class="img-fluid wh-process mb-4" src="~/images/ic-select-plan.svg" alt="" />
            <p class="text-light t-20">Select your plan</p>
        </div>
        <img class="img-fluid wh-max mt-4 d-xl-inline d-none" src="~/images/step-arrow-1-copy.png" alt="" />
        <div class="d-flex flex-column align-items-center">
            <img class="img-fluid wh-process mb-4" src="~/images/ic-pay-online.svg" alt="" />
            <p class="text-light t-20">Pay securely online</p>
        </div>
        <img class="img-fluid wh-max mt-3 d-xl-inline d-none" src="~/images/step-arrow-1.png" alt="" />
        <div class="d-flex flex-column align-items-center">
            <img class="img-fluid wh-process mb-4" src="~/images/ic-enjoy-service.svg" alt="" />
            <p class="text-light text-center t-20">Enjoy amazing service</p>
        </div>
    </div>

    <!-- section-1 part-4 -->
    <div class="s-1-p-4 mb-3 container d-flex justify-content-center">
        <a href="#section2"><img src="~/images/group-18_5.png" alt="" /></a>
    </div>
</section>

<!-- ----------section 2 -------------- -->
<section class="sec-2">
    <div id="section2"></div>
    <!-- section-2 part 1 -->
    <div class="s-2-p-1 pt-4 container d-flex justify-content-center">
        <h2 class="t-40 text-center my-5 fw-bold">Convince yourself!</h2>
    </div>

    <!-- section-2 part 2 -->
    <div class="container d-flex flex-wrap flex-xl-nowrap flex-row justify-content-xl-between justify-content-around">
        <div class="div-s-2-p-2 d-flex flex-column align-items-center mb-5">
            <div class="convince-yourself-img mb-4">
                <img class="img-fluid" src="~/images/group-22.png" alt="" />
            </div>
            <h3 class="t-30 text-center mb-4 fw-bold">Friendly & Certified Helpers</h3>
            <p class="text-center mb-5 t-17">
                We want you to be completely satisfied with our service and feel comfortable at home. In order
                to guarantee this, our helpers go through a test procedure. Only when the cleaners meet our high
                standards, they may call themselves Helper.
            </p>
        </div>
        <div class="div-s-2-p-2 d-flex flex-column align-items-center mb-5">
            <div class="convince-yourself-img mb-4">
                <img class="img-fluid" src="~/images/group-23.png" alt="" />
            </div>
            <h3 class="t-30 text-center mb-4 fw-bold">Transparent and secure payment</h3>
            <p class="text-center mb-5 t-17">
                We have transparent prices, you do not have to scratch money or money on the sideboard Leave it:
                Pay your helper easily and securely via the online payment method. You will also receive an
                invoice for each completed cleaning.
            </p>
        </div>
        <div class="div-s-2-p-2 d-flex flex-column align-items-center mb-5">
            <div class="convince-yourself-img mb-4">
                <img class="img-fluid" src="~/images/group-24.png" alt="" />
            </div>
            <h3 class="t-30 text-center mb-4 fw-bold">We're here for you</h3>
            <p class="text-center mt-problem mb-5 t-17">
                We have transparent prices, you do not have to scratch money or money on the sideboard Leave it:
                Pay your helper easily and securely via the online payment method. You will also receive an
                invoice for each completed cleaning.
            </p>
        </div>
    </div>
</section>

<!-- ----------section 3 -------------- -->
<section class="bg-s-3">
    <!-- section-3 part 1 -->
    <div class="container d-flex flex-wrap flex-xl-nowrap flex-row justify-content-around pt-5 pb-5">
        <div class="d-flex flex-row flex-xl-nowrap flex-wrap justify-content-around my-5">
            <div class="order-xl-0 order-1 me-xl-5 me-0 pe-xl-5 pe-0 pt-4">
                <h3 class="t-30 fw-bold text-xl-start text-center">
                    We do not know what makes you happy, but ...
                </h3>
                <p class="text-xl-start text-center t-18 mt-4">
                    If it's not dusting off, our friendly helpers will free you from this burden - do not worry
                    anymore about spending valuable time doing housework, but savor life, you're well worth your
                    time with beautiful experiences. Free yourself and enjoy the gained time: Go celebrate,
                    relax, play with your children, meet friends or dare to jump on the bungee.Other leisure
                    ideas and exclusive events can be found in our blog - guaranteed free from dust and cleaning
                    tips!
                </p>
            </div>
            <img class="img-fluid group-36 order-xl-1 order-0 mx-xl-5 mx-0"
                 src="~/images/group-36.png"
                 alt=""
                 srcset="" />
        </div>
    </div>
</section>

<!-- ----------section 4 -------------- -->
<section class="bg-s-4">
    <!-- section-4 part 1 -->
    <div class="s-2-p-1 container d-flex justify-content-center mb-4">
        <h2 class="mt-5 fw-bold">What Our Customers Say</h2>
    </div>

    <!-- section-4 part 2 -->
    <div class="container d-flex flex-wrap flex-xl-nowrap flex-row justify-content-xl-between justify-content-around pb-5">
        <div class="div-s-3-p-3 d-flex flex-column mb-4 card">
            <div class="d-flex mb-4">
                <img src="~/images/group-31.png" alt="" />
                <div class="ms-4 d-flex justify-content-center flex-column">
                    <h3 class="fw-bold mb-1 t-20">Lary Watson</h3>
                    <small>Manchester</small>
                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet
                consequat. Praesent nec malesuada nibh.
            </p>
            <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
        </div>

        <div class="div-s-3-p-3 d-flex flex-column mb-4 card">
            <div class="d-flex mb-4">
                <img src="~/images/group-32.png" alt="" />
                <div class="ms-4 d-flex justify-content-center flex-column">
                    <h3 class="fw-bold mb-1 t-20">John Smith</h3>
                    <small>Manchester</small>
                </div>
            </div>
            <p>Super Service 👍 Danke</p>
            <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
        </div>
        <div class="div-s-3-p-3 d-flex flex-column mb-4 card">
            <div class="d-flex mb-4">
                <img src="~/images/group-33.png" alt="" />
                <div class="ms-4 d-flex justify-content-center flex-column">
                    <h3 class="fw-bold mb-1 t-20">Lars Johnson</h3>
                    <small>Manchester</small>
                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet
                consequat. Praesent nec malesuada nibh.
            </p>
            <p>Very Good..!</p>
        </div>
    </div>
</section>