@{
    ViewData["Title"] = "Prices and Services";
}

<section class="navbar-margin">
    <div class="d-flex flex-column justify-content-center">
        <img class="img-fluid" src="~/images/group-18.png" alt="" />
    </div>
    <div class="container d-flex flex-column align-items-center mt-5 mb-3">
        <div class="s-2-p-1 container d-flex flex-column align-items-center mt-5">
            <h1 class="fw-medium t-36 text-center">Prices</h1>
            <div class="mb-4 d-flex align-items-center">
                <div class="separator-line me-2"></div>
                <img src="~/images/separator.png" alt="" />
                <div class="separator-line ms-2"></div>
            </div>
        </div>
        <div class="mx-sm-0 mx-3 row bottom-prices mb-4">
            <div class="col-6 mb-3">
                <div class="text-center mb-3">
                    <span class="t-48 fw-bold fw-bold">18 € </span><span class="t-30">/hr</span>
                </div>
                <div class="mb-2 d-flex  gap-2 align-items-center ">
                    <img src="~/images/forma-1_5.png" alt="" />
                    <span>Lower prices</span>
                </div>
                <div class="mb-2 d-flex  gap-2 align-items-center ">
                    <img src="~/images/forma-1_5.png" alt="" />
                    <span>Easy online & secure payment</span>
                </div>
                <div class="mb-2 d-flex  gap-2 align-items-center ">
                    <img src="~/images/forma-1_5.png" alt="" />
                    <span>Easy amendment</span>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="sec-2-back pt-5 mb-5">
    <div class="s-2-p-1 container d-flex flex-column align-items-center mt-4 mb-3">
        <h2 class="text-center fw-medium t-36">What we include in cleaning</h2>
        <div class="mb-5 d-flex align-items-center">
            <div class="separator-line me-2"></div>
            <img src="~/images/separator.png" alt="" />
            <div class="separator-line ms-2"></div>
        </div>
    </div>
    <div class="container d-flex flex-wrap flex-xl-nowrap flex-row justify-content-around mb-3 pb-3">
        <div class="div-sec-2-price d-flex flex-column mb-5">
            <img class="img-fluid mb-4" src="~/images/group-18_3.png" alt="" />
            <div>
                <h3 class="text-left fw-bold mb-3 t-20">Bedroom and Living Room</h3>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Dust all accessible surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Wipe down all mirrors and glass fixtures</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Not Included Clean all floor surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Take out garbage and recycling</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>To clean up</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Make beds</span>
                </div>
            </div>
        </div>
        <div class="div-sec-2-price d-flex flex-column mb-5">
            <img class="img-fluid mb-4" src="~/images/group-18_2.png" alt="" />
            <div>
                <h3 class="text-left fw-bold mb-3 t-20">Bathrooms</h3>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Wash and sanitize the toilet, shower, tub, sink</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Not Included Dust all accessible surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Wipe down all mirrors and glass fixtures</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Not Included Clean all floor surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Take out garbage and recycling</span>
                </div>
            </div>
        </div>
        <div class="div-sec-2-price d-flex flex-column mb-5">
            <img class="img-fluid mb-4" src="~/images/group-18_4.png" alt="" />
            <div>
                <h3 class="text-left fw-bold mb-3 t-20">Kitchen</h3>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Cleaning the sink</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Cleaning the oven (outside)</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Cleaning the work surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Dust all accessible surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Clean all floor surfaces</span>
                </div>
                <div class="mb-3 d-flex  gap-2 align-items-center ">
                    <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                    <span>Included Take out garbage and recycling</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container d-flex flex-column align-items-center">
        <div class="s-2-p-1 container d-flex flex-column align-items-center mt-4">
            <h2 class="text-center fw-medium t-36">Extra Services</h2>
            <div class="mb-5 d-flex align-items-center">
                <div class="separator-line me-2"></div>
                <img src="~/images/separator.png" alt="" />
                <div class="separator-line ms-2"></div>
            </div>
        </div>
        <div class=" extra-service container d-flex flex-wrap flex-xl-nowrap flex-row justify-content-around mb-3 ">
            <div class="d-flex flex-column align-items-center mb-5">
                <div class=" mb-2 es-circle d-flex justify-content-center align-items-center ">
                    <img class="img-fluid" src="~/images/3.png" alt="" />
                </div>
                <p class="text-center mb-1">Inside cabinets</p>
                <p class="text-center mb-3 t-18 fw-bold  tt-minute-color">30 minutes</p>
            </div>
            <div class="d-flex flex-column align-items-center mb-5">
                <div class=" mb-2 es-circle d-flex justify-content-center align-items-center ">
                    <img class="img-fluid" src="~/images/5.png" alt="" />
                </div>
                <p class="text-center mb-1">Inside fridge</p>
                <p class="text-center mb-3 t-18 fw-bold  tt-minute-color">30 minutes</p>
            </div>
            <div class="d-flex flex-column align-items-center mb-5">
                <div class=" mb-2 es-circle d-flex justify-content-center align-items-center ">
                    <img class="img-fluid" src="~/images/4.png" alt="" />
                </div>
                <p class="text-center mb-1">Inside oven</p>
                <p class="text-center mb-3 t-18 fw-bold  tt-minute-color">30 minutes</p>
            </div>
            <div class="d-flex flex-column align-items-center mb-5">
                <div class=" mb-2 es-circle d-flex justify-content-center align-items-center ">
                    <img class="img-fluid" src="~/images/2.png" alt="" />
                </div>
                <p class="text-center mb-1">Laundry wash & dry</p>
                <p class="text-center mb-3 t-18 fw-bold  tt-minute-color">30 minutes</p>
            </div>
            <div class="d-flex flex-column align-items-center mb-5">
                <div class=" mb-2 es-circle d-flex justify-content-center align-items-center ">
                    <img class="img-fluid" src="~/images/1.png" alt="" />
                </div>
                <p class="text-center mb-1">Interior windows</p>
                <p class="text-center mb-3 t-18 fw-bold  tt-minute-color">30 minutes</p>
            </div>
        </div>
    </div>
</section>

<section class="mb-5 pb-5">
    <div class="s-2-p-1 container d-flex flex-column align-items-center mt-4">
        <h2 class="text-center fw-medium t-36">Why Helperland</h2>
        <div class="mb-5 d-flex align-items-center">
            <div class="separator-line me-2"></div>
            <img src="~/images/separator.png" alt="" />
            <div class="separator-line ms-2"></div>
        </div>
    </div>
    <div class="best-container flex-wrap d-flex container justify-content-around">
        <div>
            <h3 class="text-center text-xl-end fw-bold mb-2 t-20">Experienced and vetted professionals</h3>
            <p class="text-center text-xl-end mb-3">
                dominate the industry in scale and scope with an adaptable,
                extensive
                network that consistently delivers exceptional results.
            </p>
            <h3 class="text-center text-xl-end fw-bold mb-2 t-20">Dedicated customer service</h3>
            <p class="text-center text-xl-end mb-3">
                to our customers and are guided in all we do by their needs.
                The team
                is always happy to support you and offer all the information. you need.
            </p>
        </div>
        <img class="img-fluid best-img" src="~/images/the-best-img-1.png" alt="">
        <div>
            <h3 class="text-center text-xl-start fw-bold mb-2 t-20">Every cleaning is insured</h3>
            <p class="text-center text-xl-start mb-3">
                and seek to provide exceptional service and engage in
                proactive
                behavior. We‘d be happy to clean your homes.
            </p>
            <h3 class="text-center text-xl-start fw-bold mb-2 t-20">Secure online payment</h3>
            <p class="text-center text-xl-start mb-3">
                Payment is processed securely online. Customers pay safely
                online
                and manage the booking.
            </p>
        </div>
    </div>
</section>