@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<form id="ResetPasswordForm" method="post" asp-action="ResetPassword" asp-controller="User" data-ajax-success="ResetPasswordFormSuccess" data-ajax="true" data-ajax-loading=".loader-page">
    <div id="ResetPasswordSuccess" class="ResetPasswordSuccess col-12 alert alert-success">
        Your Password Changed Successfully!
    </div>
    <div id="ResetPasswordSameSuccess" class="ResetPasswordSameSuccess col-12 alert alert-danger">
        Your current password is wrong!
    </div>
    <div class="row color-64-grey g-3 mb-4">
        <div class="col-12 col-md-4">
            <label class="fw-bold mb-2" asp-for="oldPassword"></label>
            <input asp-for="oldPassword" class="h-46 form-control" />
            <span asp-validation-for="oldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row color-64-grey g-3 mb-4">
        <div class="col-12 col-md-4">
            <label class="fw-bold mb-2" asp-for="Password"></label>
            <input asp-for="Password" class="h-46 form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row color-64-grey g-3 mb-4">
        <div class="col-12 col-md-4">
            <label class="fw-bold mb-2" asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="h-46 form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12">
        <button class="ForgotPasswordReset-button fw-bold" type="submit">
            Save
        </button>
    </div>
</form>

@* ----- added validation file ------ *@
@* ----- because layout validation file not working here ------ *@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    function ResetPasswordFormSuccess(response) {

        if (!response.isSuccess && !response.isPassSame) {
            $("#ResetPasswordSameSuccess").removeClass("ResetPasswordSameSuccess");
            setTimeout(function () { $("#ResetPasswordSameSuccess").addClass("ResetPasswordSameSuccess"); }, 5000);
        }

        if (response.isSuccess) {
            $("#ResetPasswordSuccess").removeClass("ResetPasswordSuccess");
            setTimeout(function () { $("#ResetPasswordSuccess").addClass("ResetPasswordSuccess"); }, 5000);
            $('#ResetPasswordForm')[0].reset();
        }
    }
</script>