@{
    Layout = null;
    ViewData["Title"] = null;
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="loadingPage loadingPageDNone d-none">
    <div class="loadingPageBox">
        <div class="loading"></div>
    </div>
</div>