@model ServiceRequestViewModel
@{
    ViewData["Title"] = "Book Service";
}

<section class="navbar-margin">
    <div class="container service-container pt-4">
        <div class="s-2-p-1 d-flex flex-column align-items-center mb-3">
            <h1 class="fw-normal t-36 text-center">Set up your cleaning service</h1>
            <div class="mb-4 d-flex align-items-center">
                <div class="separator-line me-2"></div>
                <img src="~/images/separator.png" alt="" />
                <div class="separator-line ms-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col service-left-container p-0 pe-md-3">
                <div class="service-left-container-top mb-4">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active d-flex gap-2 flex-column flex-xl-row align-items-center justify-content-start justify-content-xl-center" data-bs-toggle="pill" href="#SetupService">
                                <div class="service-img-div">
                                    <img src="~/images/search.png" alt="" />
                                </div>
                                <span class="d-none d-lg-inline">
                                    Setup Service
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link d-flex gap-2 flex-column flex-xl-row align-items-center justify-content-start justify-content-xl-center" data-bs-toggle="pill" href="#SchedulePlan">
                                <div class="service-img-div">
                                    <img src="~/images/calender-service.png" alt="" />
                                </div>
                                <span class="d-none d-lg-inline">
                                    Schedule & Plan
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link d-flex gap-2 flex-column flex-xl-row align-items-center justify-content-start justify-content-xl-center" data-bs-toggle="pill" href="#YourDetails">
                                <div class="service-img-div">
                                    <img src="~/images/home-service.png" alt="" />
                                </div>
                                <span class="d-none d-lg-inline">
                                    Your Details
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link d-flex gap-2 flex-column flex-xl-row align-items-center justify-content-start justify-content-xl-center" data-bs-toggle="pill" href="#MakePayment">
                                <div class="service-img-div">
                                    <img src="~/images/c-card.png" alt="" />
                                </div>
                                <span class="d-none d-lg-inline">
                                    Make Payment
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="setting-bottom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="SetupService">
                            <form method="post" asp-action="Avaiblity" asp-controller="Service" data-ajax-success="zipcodeFormSuccess" data-ajax="true" data-ajax-loading=".loadingPageHide">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <label class="color-4f-grey fw-bold">Enter your Postal Code</label>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-5 mb-3">
                                        <input asp-for="PincodeCheck" class="form-control h-46" />
                                        <span asp-validation-for="PincodeCheck" class="text-danger" id="isAvailableSpan"></span>
                                    </div>
                                    <div class="col mb-3">
                                        <button class="ForgotPasswordReset-button fw-normal" type="submit">
                                            Check Availablity
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane " id="SchedulePlan">
                            <form id="ServiceBookMainForm" asp-action="ServiceBook" asp-controller="Service" data-ajax="true" data-ajax-success="BookServiceSuccess" data-ajax-loading=".loadingPageHide" >
                                <div class="row mb-3">
                                    <input asp-for="AddressId" hidden />
                                    <div class="col-lg-6 col-12">
                                        <label class="d-block color-4f-grey fw-bold mb-2">
                                            When do you need the cleaner?
                                        </label>
                                        <input asp-for="StartDate"
                                               class="d-inline date form-control me-3"
                                               autocomplete="off" readonly />
                                        <select asp-for="StartTime" class="d-inline form-select h-46 w-auto">
                                            <option value="08:00:00">08:00</option>
                                            <option value="08:30:00">08:30</option>
                                            <option value="09:00:00">09:00</option>
                                            <option value="09:30:00">09:30</option>
                                            <option value="10:00:00">10:00</option>
                                            <option value="10:30:00">10:30</option>
                                            <option value="11:00:00">11:00</option>
                                            <option value="11:30:00">11:30</option>
                                            <option value="12:00:00">12:00</option>
                                            <option value="12:30:00">12:30</option>
                                            <option value="13:00:00">13:00</option>
                                            <option value="13:30:00">13:30</option>
                                            <option value="14:00:00">14:00</option>
                                            <option value="14:30:00">14:30</option>
                                            <option value="15:00:00">15:00</option>
                                            <option value="15:30:00">15:30</option>
                                            <option value="16:00:00">16:00</option>
                                            <option value="16:30:00">16:30</option>
                                            <option value="17:00:00">17:00</option>
                                            <option value="17:30:00">17:30</option>
                                            <option value="18:00:00">18:00</option>
                                            <option value="18:30:00">18:30</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label class="color-4f-grey fw-bold mb-2 d-block">
                                            How long do you need your cleaner to stay?
                                        </label>
                                        <select asp-for="ServiceHours" class="d-inline form-select h-46 w-auto">
                                            <option value="3">3.0 Hrs</option>
                                            <option value="3.5">3.5 Hrs</option>
                                            <option value="4">4.0 Hrs</option>
                                            <option value="4.5">4.5 Hrs</option>
                                            <option value="5">5.0 Hrs</option>
                                            <option value="5.5">5.5 Hrs</option>
                                            <option value="6">6.0 Hrs</option>
                                            <option value="6.5">6.5 Hrs</option>
                                            <option value="7">7.0 Hrs</option>
                                            <option value="7.5">7.5 Hrs</option>
                                            <option value="8">8.0 Hrs</option>
                                            <option value="8.5">8.5 Hrs</option>
                                            <option value="9">9.0 Hrs</option>
                                            <option value="9.5">9.5 Hrs</option>
                                            <option value="10">10.0 Hrs</option>
                                            <option value="10.5">10.5 Hrs</option>
                                            <option value="11">11.0 Hrs</option>
                                            <option value="11.5">11.5 Hrs</option>
                                            <option value="12">12.0 Hrs</option>
                                        </select>
                                    </div>
                                    <div id="couldNotCompleteError" class="col-12 text-danger d-none mt-2">
                                        Could not completed the service request, because service booking request is must be completed within 21:00 time
                                    </div>
                                    <div class="col-12 ">
                                        <div class="hr-divider-service"></div>
                                    </div>
                                    <label class="col-12 color-4f-grey fw-bold mb-4">
                                        Extra Services
                                    </label>
                                    <div class="col-12">
                                        <div class="extraServiceBook">
                                            <input asp-for="Extra1" class="d-none" />
                                            <label class="mb-3" asp-for="Extra1">
                                                <span class="extraServiceBookCircle">
                                                    <span>
                                                        <img src="~/images/cabinet.png" alt="" />
                                                    </span>
                                                </span>
                                                <span class="color-64-grey">Inside Cabinet</span>
                                            </label>
                                            <input asp-for="Extra2" class="d-none" />
                                            <label class="mb-3" asp-for="Extra2">
                                                <span class="extraServiceBookCircle">
                                                    <span>
                                                        <img src="~/images/fridge.png" alt="" />
                                                    </span>
                                                </span>
                                                <span class="color-64-grey">Inside fridge</span>
                                            </label>
                                            <input asp-for="Extra3" class="d-none" />
                                            <label class="mb-3" asp-for="Extra3">
                                                <span class="extraServiceBookCircle">
                                                    <span>
                                                        <img src="~/images/oven.png" alt="" />
                                                    </span>
                                                </span>
                                                <span class="color-64-grey">Inside oven</span>
                                            </label>
                                            <input asp-for="Extra4" class="d-none" />
                                            <label class="mb-3" asp-for="Extra4">
                                                <span class="extraServiceBookCircle">
                                                    <span>
                                                        <img src="~/images/laundry.png" alt="" />
                                                    </span>
                                                </span>
                                                <span class="color-64-grey">Laundry wash & dry</span>
                                            </label>
                                            <input asp-for="Extra5" class="d-none" />
                                            <label class="mb-3" asp-for="Extra5">
                                                <span class="extraServiceBookCircle">
                                                    <span>
                                                        <img src="~/images/window.png" alt="" />
                                                    </span>
                                                </span>
                                                <span class="color-64-grey">Interior windows</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="hr-divider-service"></div>
                                    </div>
                                    <label class="col-12 color-4f-grey fw-bold mb-2">
                                        Comments
                                    </label>
                                    <div class="col-12 mb-3">
                                        <textarea asp-for="Comments" placeholder="Comments" class="form-control textarea-height-service-book"></textarea>
                                    </div>
                                    <div class="col-12 form-check">
                                        <div class="serviceFormMarginInline">
                                            <input asp-for="HasPets" class="form-check-input "
                                                   type="checkbox"
                                                   id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                I have pets at home
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="hr-divider-service"></div>
                                    </div>
                                    <div class="col align-self-end">
                                        <div class="d-flex justify-content-end">
                                            <button id="continue-step" class="ForgotPasswordReset-button w-auto t-20 px-4 fw-bold">
                                                Continue
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane " id="YourDetails">
                            <div id="YourDetailsUA"></div>

                        </div>
                        <div class="tab-pane " id="MakePayment">
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <label class="color-4f-grey fw-bold">Pay securely with Helperland payment gateway!</label>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-5 mb-3">
                                    <label class="color-64-grey mb-2">Promo code (optional)</label>
                                    <input placeholder="Promo code (optional)" class="form-control h-46" />
                                </div>
                                <div class="col mb-3">
                                    <button id="applyPromoCodeBtn" class=" fw-normal">
                                        Apply
                                    </button>
                                </div>
                                <div class="col-12">
                                    <div class="hr-divider-service"></div>
                                </div>
                                <div class="col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <button id="CompleteBooking" class="ForgotPasswordReset-button w-auto t-20 px-4 fw-bold">
                                            Complete Booking
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 col-lg-4 p-0 ps-md-3 d-none d-md-block service-right-container mb-5">
                <div class="service-right-container-sticky">
                    <div class="service-right-container-sticky-top color-64-grey mb-5">
                        <div class="p-20">
                            Payment Summary
                        </div>
                        <div class="p-20 t-18">
                            <div>
                                <span id="startDateField" class="d-none"></span>
                                <span id="startTimeField" class="d-none"></span>
                            </div>
                            <div>Duration</div>
                            <div class="d-flex justify-content-sm-between">
                                <div>Basic</div>
                                <div><span id="basicHourField">0</span> Hrs</div>
                            </div>
                            <div id="insideCabinetPayment" class="d-flex d-none justify-content-sm-between">
                                <div>Inside Cabinet</div>
                                <div>30 Mins.</div>
                            </div>
                            <div id="insideFridgePayment" class="d-flex d-none justify-content-sm-between">
                                <div>Inside fridge</div>
                                <div>30 Mins.</div>
                            </div>
                            <div id="insideOvenPayment" class="d-flex d-none justify-content-sm-between">
                                <div>Inside oven</div>
                                <div>30 Mins.</div>
                            </div>
                            <div id="laundryPayment" class="d-flex d-none justify-content-sm-between">
                                <div>Laundry wash & dry</div>
                                <div>30 Mins.</div>
                            </div>
                            <div id="windowPayment" class="d-flex d-none justify-content-sm-between">
                                <div>Interior windows</div>
                                <div>30 Mins.</div>
                            </div>
                            <hr class="dropdown-divider" />
                            <div class="d-flex justify-content-sm-between fw-bold color-4f-grey">
                                <div>Total Service Time</div>
                                <div><span id="totalServiceTimeField">0</span> Hrs</div>
                            </div>
                        </div>
                        <hr class="dropdown-divider m-0 " />
                        <div class="p-20 t-18">
                            <div class="d-flex justify-content-sm-between">
                                <div class="color-4f-grey">Per Cleaning</div>
                                <div><span class="totalPayment">0.00</span><span>&euro;</span></div>
                            </div>
                        </div>
                        <hr class="dropdown-divider m-0 " />
                        <div class="p-20">
                            <div class="d-flex justify-content-sm-between color-secondary align-items-center">
                                <div class="t-20">Total Payment</div>
                                <div class="t-36 fw-bold "><span class="totalPayment">0.00</span><span>&euro;</span></div>
                            </div>
                        </div>
                        <div id="SeeWhatIncluded" class="d-flex gap-3 c">
                            <img class="happy-emoji" src="~/images/emoji-happy.png" alt="" />
                            <span>See what is always included</span>
                        </div>
                    </div>
                    <div class="color-4f-grey t-20 text-center ">Questions?</div>
                    <div class="accordian">
                        <div class="accordian-card">
                            <div class="accordian-card-head active">
                                <p class="m-0 d-flex align-items-center">
                                    <img class="acc-img" src="~/images/forma-1_3.png" alt="" />
                                    <span class="fw-normal t-14 ">What's included in a cleaning?</span>
                                </p>
                            </div>
                            <div class="accordian-card-body active">
                                Bedroom, Living Room & Common Areas, Bathrooms, Kitchen,
                                Extras
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-head">
                                <p class="m-0 d-flex align-items-center">
                                    <img class="acc-img" src="~/images/forma-1_3.png" alt="" />
                                    <span class="fw-normal t-14 ">
                                        Which Helperland professional will come to my
                                        place?
                                    </span>
                                </p>
                            </div>
                            <div class="accordian-card-body">
                                Helperland has a vast network of experienced, top-rated
                                cleaners. Based on the time and date of your request, we
                                work to assign the best professional available. Like working
                                with a specific pro? Add them to your Pro Team from the
                                mobile app and they'll be requested first for all future
                                bookings. You will receive an email with details about your
                                professional prior to your appointment.
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-head">
                                <p class="m-0 d-flex align-items-center">
                                    <img class="acc-img" src="~/images/forma-1_3.png" alt="" />
                                    <span class="fw-normal t-14 ">Can I skip or reschedule bookings?</span>
                                </p>
                            </div>
                            <div class="accordian-card-body">
                                You can reschedule any booking for free at least 24 hours in
                                advance of the scheduled start time. If you need to skip a
                                booking within the minimum commitment, we’ll credit the
                                value of the booking to your account. You can use this
                                credit on future cleanings and other Helperland services.
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-head">
                                <p class="m-0 d-flex align-items-center">
                                    <img class="acc-img" src="~/images/forma-1_3.png" alt="" />
                                    <span class="fw-normal t-14 ">Do I need to be home for the booking?</span>
                                </p>
                            </div>
                            <div class="accordian-card-body">
                                We strongly recommend that you are home for the first clean
                                of your booking to show your cleaner around. Some customers
                                choose to give a spare key to their cleaner, but this
                                decision is based on individual preferences.
                            </div>
                        </div>
                    </div>
                    <a class="fw-bold color-secondary t-20 ms-2" asp-action="Faqs" asp-controller="Home">For more help</a>
                </div>
            </div>
        </div>
    </div>
    <div id="PaymentSummaryBox" class="d-none">
        <div class="PaymentSummary">
            Payment Summary <span class="totalPayment">0.00</span><span>&euro;</span>
        </div>
    </div>
    <div id="ConfirmServiceTime" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
            <div class="modal-content modal-content-custom">
                <div type="button"
                     class="btn-close btn-close-modal-custom"
                     data-bs-dismiss="modal"></div>
                <h1 class="t-24 64 color-64-grey mb-3 pb-3 fw-bold">Confirm Service Time</h1>
                <div class="color-64-grey mb-3">Booking time is less than recommended, we may not be able to finish the job. Please confirm if you wish to proceed with your booking?</div>
                <button class="ForgotPasswordReset-button fw-normal" data-bs-dismiss="modal">
                    Yes
                </button>
            </div>
        </div>
    </div>
    <div id="SeeWhatIncludedModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
            <div class="modal-content modal-content-custom">
                <div type="button"
                     class="btn-close btn-close-modal-custom"
                     data-bs-dismiss="modal"></div>
                <h1 class="t-24 color-4f-grey mb-4 fw-bold">What we include in cleaning</h1>
                <div class="d-flex justify-content-between flex-column flex-md-row ">
                    <div class="SeeWhatIncludedModalBox">
                        <h3 class="text-left fw-bold mb-3 t-20">Bedroom and Living Room</h3>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Dust all accessible surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Wipe down all mirrors and glass fixtures</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Not Included Clean all floor surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Take out garbage and recycling</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>To clean up</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Make beds</span>
                        </div>
                    </div>
                    <div class="SeeWhatIncludedModalBox">
                        <h3 class="text-left fw-bold mb-3 t-20">Bathrooms</h3>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Wash and sanitize the toilet, shower, tub, sink</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Not Included Dust all accessible surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Wipe down all mirrors and glass fixtures</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Not Included Clean all floor surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Take out garbage and recycling</span>
                        </div>
                    </div>
                    <div class="SeeWhatIncludedModalBox">
                        <h3 class="text-left fw-bold mb-3 t-20">Kitchen</h3>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Cleaning the sink</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Cleaning the oven (outside)</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Cleaning the work surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Dust all accessible surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Clean all floor surfaces</span>
                        </div>
                        <div class="mb-3 d-flex  gap-2 align-items-center ">
                            <img class="wh_right_price" src="~/images/right_price.png" alt="" />
                            <span>Included Take out garbage and recycling</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".accordian-card-head").click(function () {
                if ($(this).next(".accordian-card-body").hasClass("active")) {
                    $(this).next(".accordian-card-body").removeClass("active").slideUp(300);
                    $(this).removeClass("active");
                } else {
                    $(".accordian-card-body").removeClass("active").slideUp(300);
                    $(".accordian-card-head").removeClass("active");
                    $(".acc-img").addClass("acc-img-scroll");
                    $(this).next(".accordian-card-body").addClass("active").slideDown(300);
                    $(this).addClass("active");
                }
            });
            $('a[data-bs-toggle="pill"][href="#SetupService"]').on("show.bs.tab", function (e) {
                $(this).removeClass("disabled");
                $('a[data-bs-toggle="pill"][href="#SchedulePlan"]').addClass("disabled").removeClass("used");
                $('a[data-bs-toggle="pill"][href="#YourDetails"]').addClass("disabled").removeClass("used");
                $('a[data-bs-toggle="pill"][href="#MakePayment"]').addClass("disabled").removeClass("used");
            });
            $('a[data-bs-toggle="pill"][href="#SchedulePlan"]').on("show.bs.tab", function (e) {
                $('a[data-bs-toggle="pill"][href="#SetupService"]').addClass("used");
                $(this).removeClass("disabled");
                $('a[data-bs-toggle="pill"][href="#YourDetails"]').addClass("disabled").removeClass("used");
                $('a[data-bs-toggle="pill"][href="#MakePayment"]').addClass("disabled").removeClass("used");
                $('#basicHourField').html("3");
                $('#totalServiceTimeField').text($("#ServiceHours").val());
                $("#startDateField").removeClass("d-none");
                $("#startTimeField").removeClass("d-none");
                $("#PaymentSummaryBox").removeClass("d-none");
            });
            $('a[data-bs-toggle="pill"][href="#YourDetails"]').on("show.bs.tab", function (e) {
                $('a[data-bs-toggle="pill"][href="#SetupService"]').addClass("used");
                $('a[data-bs-toggle="pill"][href="#SchedulePlan"]').addClass("used");
                $(this).removeClass("disabled");
                $('a[data-bs-toggle="pill"][href="#MakePayment"]').addClass("disabled").removeClass("used");

            });
            $('a[data-bs-toggle="pill"][href="#MakePayment"]').on("show.bs.tab", function (e) {
                $('a[data-bs-toggle="pill"][href="#SetupService"]').addClass("used");
                $('a[data-bs-toggle="pill"][href="#SchedulePlan"]').addClass("used");
                $('a[data-bs-toggle="pill"][href="#YourDetails"]').addClass("used");
                $(this).removeClass("disabled");
            });
        });

        function zipcodeFormSuccess(response) {
            if (response.isAvailable) {
                $('a[data-bs-toggle="pill"][href="#SchedulePlan"]').tab("show");
            } else {
                $("#isAvailableSpan").text(" We are not providing service in this area.");
            }
        }
        $(function () {
            $("#StartDate").datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                orientation: "bottom auto",
                startDate: new Date()
            });
            $('#StartDate').datepicker('setDate', "+1d");
        });
        $("#startTimeField").text($("#StartTime").val().substring(0, 5));
        $("#StartTime").change(function () { couldComplete() });
        $("#ServiceHours").change(function () { couldComplete() });
        function couldComplete() {
            var sT = parseFloat($("#StartTime").val().substring(0, 2));
            var sTM = parseFloat($("#StartTime").val().substring(3, 5));
            var sH = parseFloat($("#ServiceHours").val().substring(0, 3));
            var v = sT + sH + (sTM == 0 ? 0 : 0.5);
            if (v > 21) {
                $("#couldNotCompleteError").removeClass("d-none");
            } else {
                $("#couldNotCompleteError").addClass("d-none");
            }
        }

        $("#Extra1").change(function () {
            if ($('#Extra1').is(":checked")) {
                $("#insideCabinetPayment").removeClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) + 0.5);
            } else {
                $("#insideCabinetPayment").addClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) - 0.5);
            }
        });
        $("#Extra2").change(function () {
            if ($('#Extra2').is(":checked")) {
                $("#insideFridgePayment").removeClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) + 0.5);
            } else {
                $("#insideFridgePayment").addClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) - 0.5);
            }
        });
        $("#Extra3").change(function () {
            if ($('#Extra3').is(":checked")) {
                $("#insideOvenPayment").removeClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) + 0.5);
            } else {
                $("#insideOvenPayment").addClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) - 0.5);
            }
        });
        $("#Extra4").change(function () {
            if ($('#Extra4').is(":checked")) {
                $("#laundryPayment").removeClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) + 0.5);
            } else {
                $("#laundryPayment").addClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) - 0.5);
            }
        });
        $("#Extra5").change(function () {
            if ($('#Extra5').is(":checked")) {
                $("#windowPayment").removeClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) + 0.5);
            } else {
                $("#windowPayment").addClass("d-none");
                $('#totalServiceTimeField').html(parseFloat($('#totalServiceTimeField').html()) - 0.5);
            }
        });
        $('#totalServiceTimeField').on('DOMSubtreeModified', function () {
            $("#ServiceHours").val(parseFloat($('#totalServiceTimeField').text()));
            var basicTime = parseFloat($('#totalServiceTimeField').text());
            if ($('#Extra1').is(":checked")) { basicTime -= 0.5 }
            if ($('#Extra2').is(":checked")) { basicTime -= 0.5 }
            if ($('#Extra3').is(":checked")) { basicTime -= 0.5 }
            if ($('#Extra4').is(":checked")) { basicTime -= 0.5 }
            if ($('#Extra5').is(":checked")) { basicTime -= 0.5 }
            $("#basicHourField").text(basicTime);
            $(".totalPayment").text(`${parseFloat($('#totalServiceTimeField').text()) * 18}.00`);
        });
        $("#ServiceHours").change(function () {
            $('#totalServiceTimeField').text($("#ServiceHours").val());
            if (parseFloat($("#basicHourField").text()) < 3) {
                $("#ConfirmServiceTime").modal("show");
                $('#totalServiceTimeField').text(3);
                $("#basicHourField").text(3);
                $('#Extra1').prop('checked', false);
                $('#Extra2').prop('checked', false);
                $('#Extra3').prop('checked', false);
                $('#Extra4').prop('checked', false);
                $('#Extra5').prop('checked', false);
                $("#insideCabinetPayment").addClass("d-none");
                $("#insideFridgePayment").addClass("d-none");
                $("#insideOvenPayment").addClass("d-none");
                $("#laundryPayment").addClass("d-none");
                $("#windowPayment").addClass("d-none");
            }
        });

        $("#continue-step").click(function (e) {
            e.preventDefault();
            $('a[data-bs-toggle="pill"][href="#YourDetails"]').tab("show");
            getServiceRequestAddress();
        });
        $("#SeeWhatIncluded").click(function (e) {
            e.preventDefault();
            $('#SeeWhatIncludedModal').modal("show");
        });
        $("#StartDate").change(function () {
            $("#startDateField").text($("#StartDate").val());
        });
        $("#StartTime").change(function () {
            $("#startTimeField").text($("#StartTime").val().substring(0, 5));
        });
        function getServiceRequestAddress() {
            $('.loadingPageDNone').removeClass("d-none");
            console.log("Hello");
            $.ajax({
                type: "GET",
                url: '@Url.Action("ServiceRequestAddress","Service")',
                data: { postalCode : $("#PincodeCheck").val() },
                success: function (res) {
                    $("#YourDetailsUA").html(res);
                }, complete: function () {
                    $('.loadingPageDNone').addClass("d-none");
                    console.log("Hello1");
                }
            });
        }
        function addAddressSuccess(res) {
            if (res.isSuccess) {
                getServiceRequestAddress();
            }
        }

        $("#CompleteBooking").click(function () {
            $("#ServiceBookMainForm").submit();
        });

        function BookServiceSuccess(res) {
            console.log(res);
        }
    </script>
}
